<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>I-kyrgyz</title>
    <link rel="stylesheet" href="../public/css/style.css"/>
    <link rel="stylesheet" href="../public/css/fonts.css"/>
    <link rel="stylesheet" href="../public/css/reset.css"/>
    <link rel="stylesheet" href="../public/css/jquery.formstyler.css"/>
    <script type="text/javascript" src="../public/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../public/jquery/bootstrap.js"></script>
    <script type="text/javascript" src="../public/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="../public/jquery/supermodal.js"></script>
    <script type="text/javascript" src="../public/js/jquery.easytabs.js"></script>
    <script type="text/javascript" src="../public/js/script.js"></script>
    <script type="text/javascript" src="../public/js/jquery.formstyler.js"></script>
  </head>
  <body>
    <div class="b-wrapper">
      <div class="b-page">
                <ul class="b-header-nav-dropdown b-header-nav-dropdown-message">
                  <li>
                    <div class="b-header-nav-dropdown__message"><img src="img/3.png" alt="" class="header-dropdown-image"/>
                      <p class="text text-name">Сергей Бобровский</p>
                      <p class="text text-message">Чем занимаешься</p>
                    </div>
                  </li>
                </ul>
        <div class="b-header">
          <div class="b-header__inner">
            <div class="b-header-nav">
              <ul>
                <li class="b-header-nav__list"><a href="#"><img src="img/2.png" alt="logo"/><span class="logo">I-Kyrgyz</span></a></li>
                <li class="b-header-nav__list"><a href="#"><img src="img/38.png" alt="user"/><span class="user-name">Имя пользователя</span></a>
                  <ul class="b-header-nav-dropdown">
                    <li><a href="#">Изменить профиль</a></li>
                    <li><a href="#">Личные сообщения(1877)</a></li>
                    <li><a href="#">Друзья</a></li>
                    <li><a href="#">Группы</a></li>
                  </ul>
                </li>
                <li class="b-header-nav__list"><a href="#" class="counter-block"><img src="img/4.png" alt="msg"/><span class="counter">25</span></a>
                  <ul class="b-header-nav-dropdown">
                    <li><img src="img/3.png" alt=""/><span>Cергей Бобровский </br>отправил вам приглашение в друзья</br></span><a href="#" class="btn">Принять</a><a href="" class="btn">Отклонить</a></li>
                  </ul>
                </li>
                <li class="b-header-nav__list"><a href="#" class="counter-block"><img src="img/5.png" alt="msg"/><span class="counter">25</span></a>
                          <ul class="b-header-nav-dropdown b-header-nav-dropdown-message">
                            <li>
                              <div class="b-header-nav-dropdown__message"><img src="img/3.png" alt="" class="header-dropdown-image"/>
                                <p class="text text-name">Сергей Бобровский</p>
                                <p class="text text-message">Чем занимаешься</p>
                              </div>
                            </li>
                          </ul>
                </li>
                <li class="b-header-nav__list"><a href="#" class="counter-block"><img src="img/6.png" alt="msg"/><span class="counter">25</span></a>
                  <ul class="b-header-nav-dropdown">
                    <li><a href="#">Изменить профиль</a></li>
                    <li><a href="#">Личные сообщения(1877)</a></li>
                    <li><a href="#">Друзья</a></li>
                    <li><a href="#">Группы	</a></li>
                  </ul>
                </li>
                <li class="b-header-nav__list"><a href="#"><img src="img/7.png" alt="search"/><span class="search-friend">Поиск друзей</span></a></li>
                <li class="b-header-nav__list"><a href="#"><img src="img/8.png" alt="search"/><span class="search-friend">Энциклопедия</span></a>
                  <ul class="b-header-nav-dropdown">
                    <li><a href="">История</a></li>
                    <li><a href="">Обычаи</a></li>
                    <li><a href="">Культура	</a></li>
                  </ul>
                </li>
                <li class="b-header-nav__list"><a href="#"><img src="img/39.png" alt="search"/></a>
                  <ul class="b-header-nav-dropdown">
                    <li><a href="#">Выбор языка</a>
                      <ul class="b-header-sub-menu">
                        <li><a href=""><img src="img/30.png" alt=""/><span>Английский</span></a></li>
                        <li><a href=""><img src="img/30.png" alt=""/><span>Русский</span></a></li>
                        <li><a href=""><img src="img/30.png" alt=""/><span>Русский	</span></a></li>
                      </ul>
                    </li>
                    <li><a href="#">Помощь</a>
                      <ul class="b-header-sub-menu">
                        <li><a href="">Сообщить о проблеме</a></li>
                        <li><a href="">История действии</a></li>
                      </ul>
                    </li>
                    <li><a href="#">выход</a></li>
                  </ul>
                </li>
                <div class="clear"></div>
              </ul>
            </div>
          </div>
        </div>
        <div class="b-content">
          <div class="b-topic-create-modal">
            <div class="b-topic-create-modal__inner">
              <div class="b-topic-create-modal__title">Создать топик
                <button class="btn-close"></button>
              </div>
              <div class="b-topic-create-modal__content">
                <div class="b-topic-create-modal-content">
                  <form id="" method="" action="">
                    <div class="b-topic-create-modal-content__item">
                      <input type="text" value="Введите название" class="input-default add-name"/><a href="" class="draft">Черновики <span>999</span></a>
                    </div>
                    <div class="b-topic-create-modal-content__item">
                      <select class="choose-blog input-default">
                        <option>Выберете блог</option>
                      </select>
                    </div>
                    <div class="b-topic-create-modal-content__item">
                      <textarea name="" cols="30" rows="10" class="input-default textarea-topic"></textarea>
                    </div>
                    <div class="b-topic-create-modal-content__item">
                      <input type="text" value="Тэги" class="tags input-default"/><a href="#" class="input-default add-gallery-btn">Добавить галерею</a>
                      <div class="b-topic-create__gallery">
                        <div class="b-topic-create-gallery">
                          <div class="b-topic-create-gallery__title">Добавить галлерею</div>
                          <div class="b-topic-create-gallery-content">
                            <form id="" method="" action="">
                              <div class="b-topic-create-gallery-content__item">
                                <input type="text" value="Поиск по названию" class="input-default search-by-name"/>
                                <input type="submit" class="input-default btn-search"/>
                                <input type="submit" class="input-default btn-cancel"/>
                                <select name="" class="input-default sort-select">
                                  <option value="">Сортировка</option>
                                </select>
                              </div>
                              <div class="b-topic-create-gallery-content__item">
                                <div class="b-topic-create-gallery-content-table">
                                  <div class="b-topic-create-gallery-content-table__title"><span class="skin">Обложка</span><span class="photo-name"> Название фотогаллерии</span><span class="access">Доступ</span></div>
                                </div>
                                <div class="b-topic-create-gallery-content-table gallery-wrapper">
                                  <div class="b-topic-create-gallery-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название фотогаллерии</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-gallery-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название фотогаллерии</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-gallery-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название фотогаллерии</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-gallery-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название фотогаллерии</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-gallery-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название фотогаллерии</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-gallery-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название фотогаллерии</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-gallery-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название фотогаллерии</span><span class="access">Доступ</span></div>
                                </div>
                              </div>
                              <div class="b-topic-create-gallery-content__item">
                                <div class="b-topic-create-gallery-content-btns">
                                  <input type="submit" value="отмена" class="input-default"/>
                                  <input type="submit" value="добавить" class="input-default"/>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div><a href="#" class="input-default add-music-btn">Добавить музыку</a>
                      <div class="b-topic-create__music">
                        <div class="b-topic-create-music">
                          <div class="b-topic-create-music__title">Добавить музыкальный альбом</div>
                          <div class="b-topic-create-music-content">
                            <form id="" method="" action="">
                              <div class="b-topic-create-music-content__item">
                                <input type="text" value="Поиск по названию" class="input-default search-by-name"/>
                                <input type="submit" class="input-default btn-search"/>
                                <input type="submit" class="input-default btn-cancel"/>
                                <select name="" class="input-default sort-select">
                                  <option value="">Сортировка</option>
                                </select>
                              </div>
                              <div class="b-topic-create-music-content__item">
                                <div class="b-topic-create-music-content-table">
                                  <div class="b-topic-create-music-content-table__title"><span class="skin">Обложка</span><span class="photo-name"> Название музыкального альбома</span><span class="access">Доступ</span></div>
                                </div>
                                <div class="b-topic-create-music-content-table music-wrapper">
                                  <div class="b-topic-create-music-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название музыкального альбома</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-music-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название музыкального альбома</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-music-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название музыкального альбома</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-music-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название музыкального альбома</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-music-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название музыкального альбома</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-music-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название музыкального альбома</span><span class="access">Доступ</span></div>
                                  <div class="b-topic-create-music-content-table__item"><img src="img/52.png" alt="" class="skin"/><span class="photo-name"> Название музыкального альбома</span><span class="access">Доступ</span></div>
                                </div>
                              </div>
                              <div class="b-topic-create-music-content__item">
                                <div class="b-topic-create-music-content-btns">
                                  <input type="submit" value="отмена" class="input-default"/>
                                  <input type="submit" value="добавить" class="input-default"/>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="b-topic-create-modal-content__item"><span class="change-skin-title">Изображение топика</span><a href="#" class="input-default change-skin">Добавить</a>
                      <div class="b-topic-create__skin">
                        <div class="b-topic-create-skin">
                          <div class="b-topic-create-skin__title">Добавить изображение топика</div>
                          <div class="b-topic-create-skin__content">
                            <div class="b-topic-create-skin-content">
                              <form id="" method="" action="">
                                <div class="b-topic-create-skin-content-wrapper">
                                  <div class="b-topic-create-skin-content__item">
                                    <input type="file" placeholder="Выбрать файла" class="jq-file__name input-default input pc-input"/>
                                  </div>
                                  <div class="b-topic-create-skin-content__item">
                                    <input type="file" placeholder="Ссылка" class="jq-file__name input-default it-input"/>
                                  </div>
                                </div>
                                <div class="b-topic-create-skin-content__item">
                                  <div class="b-topic-create-skin-content-buttons">
                                    <input type="submit" value="Отмена" class="input-default"/>
                                    <input type="submit" value="Добавить" class="input-default"/>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="b-topic-create-modal-content__btns">
                        <input type="submit" value="Отмена" class="btn btn-cancel input-default"/>
                        <input type="submit" value="Препросмотр" class="btn btn-preview input-default"/>
                        <input type="submit" value="Опубликовать" class="btn btn-submit input-default"/>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>