<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>I-kyrgyz</title>
    <link rel="stylesheet" href="../public/css/style.css"/>
    <link rel="stylesheet" href="../public/css/fonts.css"/>
    <link rel="stylesheet" href="../public/css/reset.css"/>
    <link rel="stylesheet" href="../public/css/jquery.formstyler.css"/>
    <script type="text/javascript" src="../public/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../public/jquery/bootstrap.js"></script>
    <script type="text/javascript" src="../public/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="../public/jquery/supermodal.js"></script>
    <script type="text/javascript" src="../public/js/jquery.easytabs.js"></script>
    <script type="text/javascript" src="../public/js/script.js"></script>
    <script type="text/javascript" src="../public/js/jquery.formstyler.js"></script>
  </head>
  <body>
    <div class="b-wrapper">
      <div class="b-page">
                <ul class="b-header-nav-dropdown b-header-nav-dropdown-message">
                  <li>
                    <div class="b-header-nav-dropdown__message"><img src="img/3.png" alt="" class="header-dropdown-image"/>
                      <p class="text text-name">Сергей Бобровский</p>
                      <p class="text text-message">Чем занимаешься</p>
                    </div>
                  </li>
                </ul>
        <div class="b-header">
          <div class="b-header__inner">
            <div class="b-header-nav">
              <ul>
                <li class="b-header-nav__left">
                  <div class="b-header-nav-logo">
                    <div class="b-header-nav-logo__item"><a href="#"><img src="img/2.png" alt="logo"/><span class="logo">I-Kyrgyz</span></a></div>
                  </div>
                  <div class="b-header-nav-user">
                    <div class="b-header-nav-user__item"><a href="#"><img src="img/38.png" alt="user"/><span class="user-name">Имя пользователя</span></a></div>
                  </div>
                </li>
                <li class="b-header-nav__middle">
                  <div class="b-header-nav-button">
                    <div class="b-header-nav-button__item"><a href="#" class="counter-block"><img src="img/4.png" alt="msg"/><span class="counter">999</span></a></div>
                    <div class="b-header-nav-button__item"><a href="#" class="counter-block"><img src="img/4.png" alt="msg"/><span class="counter">999</span></a></div>
                    <div class="b-header-nav-button__item"><a href="#" class="counter-block"><img src="img/4.png" alt="msg"/><span class="counter">999</span></a></div>
                  </div>
                </li>
                <li class="b-header-nav__right">
                  <div class="b-header-nav-search">
                    <div class="b-header-nav-search__item"><a href="#"><img src="img/7.png" alt="search"/><span class="search-friend">Поиск друзей</span></a></div>
                  </div>
                  <div class="b-header-nav-enc">
                    <div class="b-header-nav-enc__item"><a href="#"><img src="img/8.png" alt="search"/></a><span class="search-friend">Энциклопедия</span></div>
                  </div>
                  <div class="b-header-nav-setting">
                    <div class="b-header-nav-setting__item"><a href=""><img src="img/8.png" alt=""/></a></div>
                  </div>
                </li>
                <div class="clear"></div>
              </ul>
            </div>
          </div>
        </div>
        <div class="b-content">
          <div class="b-user-interface">
            <div class="b-user-interface__header">
              <p class="title-header">Поиск
                <input type="submit" class="input-default"/>
              </p>
            </div>
            <div class="b-user-interface__inner">
              <div id="tab-1" class="b-user-interface-content tab-content current">
                <div class="b-user-interface-content__left">
                  <div class="b-user-interface-content-wrapper">
                    <div class="b-user-interface-content-nav">
                      <ul class="tabs">
                        <li data-tab="tab-1" class="b-user-interface-content-nav__list tab-link current"><a href="#">Люди</a></li>
                        <li data-tab="tab-2" class="b-user-interface-content-nav__list tab-link"><a href="#">Контент</a></li>
                        <li data-tab="tab-3" class="b-user-interface-content-nav__list tab-link"><a href="#">Группы</a></li>
                        <li data-tab="tab-4" class="b-user-interface-content-nav__list tab-link"><a href="#">Медиа</a></li>
                        <div class="clear"></div>
                      </ul>
                    </div>
                    <div class="b-user-interface-content-item">
                      <p class="b-user-interface-content-item__title">Место поиска</p>
                      <div class="b-user-interface-content-item__item">
                        <select name="" class="select-default">
                          <option value="Страна">Страна</option>
                        </select>
                      </div>
                      <div class="b-user-interface-content-item__item">
                        <select name="" class="select-default">
                          <option value="Город">Город									</option>
                        </select>
                      </div>
                      <p class="b-user-interface-content-item__title">Учебные заведения</p>
                      <div class="b-user-interface-content-item__item">
                        <select name="" class="select-default">
                          <option value="Выберите школу">Выберите школу</option>
                        </select>
                      </div>
                      <div class="b-user-interface-content-item__item">
                        <select name="" class="select-default">
                          <option value="Выберите университет">Выберите университет	</option>
                        </select>
                      </div>
                      <p class="b-user-interface-content-item__title">Место работы</p>
                      <div class="b-user-interface-content-item__item">
                        <select name="" class="select-default">
                          <option value="Выберите место работы">Выберите место работы	</option>
                        </select>
                      </div>
                      <p class="b-user-interface-content-item__title">Пол</p>
                      <div class="b-user-interface-content-item__item">
                        <input type="radio"/>
                        <label>Мужской</label>
                      </div>
                      <div class="b-user-interface-content-item__item">
                        <input type="radio"/>
                        <label>Женский</label>
                      </div>
                      <div class="b-user-interface-content-item__item">
                        <input type="radio"/>
                        <label>Любой									</label>
                      </div>
                      <p class="b-user-interface-content-item__title">Возраст</p>
                      <div class="b-user-interface-content-item__item">
                        <label>от</label>
                        <input type="text" class="input-default"/>
                        <label>до</label>
                        <input type="text" class="input-default"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-user-interface-content__right">
                  <div class="b-user-interface-content-search">
                    <div class="b-user-interface-content-search__search">
                      <input type="text" value="Поиск людей" class="input-default"/>
                      <input type="submit" class="button-default"/>
                    </div>
                  </div>
                  <div class="b-user-interface-content-profile"><img src="img/20.png" alt="" class="b-user-interface-content-profile__image"/>
                    <p class="b-user-interface-content-profile__name">Имя Фамилия Отчество</p>
                    <p class="b-user-interface-content-profile__desc"><span>Возраст,</span><span>Город,</span><span>Страна</span></p>
                    <div class="b-user-interface-content-profile__buttons">
                      <input type="submit" value="Профиль" class="button-default"/>
                      <input type="submit" value="Дружить" class="button-default"/>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <div id="tab-2" class="b-user-interface-content tab-content">
                <div class="b-user-interface-content__left">
                  <div class="b-user-interface-content-wrapper">
                    <div class="b-user-interface-content-nav">
                      <ul class="tabs">
                        <li data-tab="tab-1" class="b-user-interface-content-nav__list tab-link current"><a href="#">Люди</a></li>
                        <li data-tab="tab-2" class="b-user-interface-content-nav__list tab-link"><a href="#">Контент</a></li>
                        <li data-tab="tab-3" class="b-user-interface-content-nav__list tab-link"><a href="#">Группы</a></li>
                        <li data-tab="tab-4" class="b-user-interface-content-nav__list tab-link"><a href="#">Медиа</a></li>
                        <div class="clear"></div>
                      </ul>
                    </div>
                    <div class="b-user-interface-content-sort">
                      <div class="b-user-interface-content-sort__title">Сортировка</div>
                      <ul class="b-user-interface-content-sort-list">
                        <li class="b-user-interface-content-sort-list__list"><a href="">По рейтингу</a></li>
                        <li class="b-user-interface-content-sort-list__list"><a href="">По релевантности</a></li>
                        <li class="b-user-interface-content-sort-list__list"><a href="">По дате создания</a></li>
                      </ul>
                    </div>
                    <div class="b-user-interface-content-filter">
                      <p class="b-user-interface-content-filter__title">Фильтры</p>
                      <ul class="b-user-interface-content-filter-list">
                        <li class="b-user-interface-content-filter-list__list"><a href="">Топики</a></li>
                        <li class="b-user-interface-content-filter-list__list"><a href="">Блоги</a></li>
                        <li class="b-user-interface-content-filter-list__list"><a href="">Любые</a></li>
                        <li class="b-user-interface-content-filter-list__list"><a href="">По времени</a></li>
                        <li class="b-user-interface-content-filter-list__list"><a href="">По дате</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="b-user-interface-content__right">
                  <div class="b-user-interface-content-search">
                    <div class="b-user-interface-content-search__search">
                      <input type="text" value="Поиск людей" class="input-default"/>
                      <input type="submit" class="button-default"/>
                    </div>
                  </div>
                  <div class="b-user-interface-content-block">
                    <div class="b-user-interface-content-block__image"><img src="img/66.png" alt=""/></div>
                    <div class="b-user-interface-content-block__text">
                      <div class="b-user-interface-content-block-text">
                        <p class="b-user-interface-content-block-text__title">Название топика</p>
                        <p class="b-user-interface-content-block-text__date">Дата создания, Блог топика</p>
                        <p class="b-user-interface-content-block-text__name">Имя пользователя</p>
                        <p class="b-user-interface-content-block-text__desc">Топик</p>
                      </div>
                    </div>
                    <div class="b-user-interface-content-block__detail">
                      <div class="b-user-interface-content-block-detail">
                        <p class="b-user-interface-content-block-detail__vision"><img src="img/22.png" alt=""/><span>19</span><img src="img/23.png" alt=""/><span>34</span></p>
                        <p class="b-user-interface-content-block-detail__raiting"><span>+ 0.00</span></p>
                        <div class="b-user-interface-content-block-detail__buttons">
                          <input type="submit" value="Подробнее" class="button-default"/>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="b-user-interface-content-block">
                    <div class="b-user-interface-content-block__image"><img src="img/66.png" alt=""/></div>
                    <div class="b-user-interface-content-block__text">
                      <div class="b-user-interface-content-block-text">
                        <p class="b-user-interface-content-block-text__title">Название топика</p>
                        <p class="b-user-interface-content-block-text__date">Дата создания, Блог топика</p>
                        <p class="b-user-interface-content-block-text__name">Имя пользователя</p>
                        <p class="b-user-interface-content-block-text__desc">Топик</p>
                      </div>
                    </div>
                    <div class="b-user-interface-content-block__detail">
                      <div class="b-user-interface-content-block-detail">
                        <p class="b-user-interface-content-block-detail__vision"><img src="img/22.png" alt=""/><span>19</span><img src="img/23.png" alt=""/><span>34</span></p>
                        <p class="b-user-interface-content-block-detail__raiting"><span>+ 0.00</span></p>
                        <div class="b-user-interface-content-block-detail__buttons">
                          <input type="submit" value="Подробнее" class="button-default"/>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>