<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>I-kyrgyz</title>
    <link rel="stylesheet" href="../public/css/style.css"/>
    <link rel="stylesheet" href="../public/css/fonts.css"/>
    <link rel="stylesheet" href="../public/css/reset.css"/>
    <link rel="stylesheet" href="../public/css/jquery.formstyler.css"/>
    <script type="text/javascript" src="../public/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../public/jquery/bootstrap.js"></script>
    <script type="text/javascript" src="../public/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="../public/jquery/supermodal.js"></script>
    <script type="text/javascript" src="../public/js/jquery.easytabs.js"></script>
    <script type="text/javascript" src="../public/js/script.js"></script>
    <script type="text/javascript" src="../public/js/jquery.formstyler.js"></script>
  </head>
  <body>
    <div class="b-wrapper">
      <div class="b-page">
                <ul class="b-header-nav-dropdown b-header-nav-dropdown-message">
                  <li>
                    <div class="b-header-nav-dropdown__message"><img src="img/3.png" alt="" class="header-dropdown-image"/>
                      <p class="text text-name">Сергей Бобровский</p>
                      <p class="text text-message">Чем занимаешься</p>
                    </div>
                  </li>
                </ul>
        <div class="b-header">
          <div class="b-header__inner">
            <div class="b-header-nav">
              <ul>
                <li class="b-header-nav__left">
                  <div class="b-header-nav-logo">
                    <div class="b-header-nav-logo__item"><a href="#"><img src="img/2.png" alt="logo"/><span class="logo">I-Kyrgyz</span></a></div>
                  </div>
                  <div class="b-header-nav-user">
                    <div class="b-header-nav-user__item"><a href="#"><img src="img/38.png" alt="user"/><span class="user-name">Имя пользователя</span></a></div>
                  </div>
                </li>
                <li class="b-header-nav__middle">
                  <div class="b-header-nav-button">
                    <div class="b-header-nav-button__item"><a href="#" class="counter-block"><img src="img/4.png" alt="msg"/><span class="counter">999</span></a></div>
                    <div class="b-header-nav-button__item"><a href="#" class="counter-block"><img src="img/4.png" alt="msg"/><span class="counter">999</span></a></div>
                    <div class="b-header-nav-button__item"><a href="#" class="counter-block"><img src="img/4.png" alt="msg"/><span class="counter">999</span></a></div>
                  </div>
                </li>
                <li class="b-header-nav__right">
                  <div class="b-header-nav-search">
                    <div class="b-header-nav-search__item"><a href="#"><img src="img/7.png" alt="search"/><span class="search-friend">Поиск друзей</span></a></div>
                  </div>
                  <div class="b-header-nav-enc">
                    <div class="b-header-nav-enc__item"><a href="#"><img src="img/8.png" alt="search"/></a><span class="search-friend">Энциклопедия</span></div>
                  </div>
                  <div class="b-header-nav-setting">
                    <div class="b-header-nav-setting__item"><a href=""><img src="img/8.png" alt=""/></a></div>
                  </div>
                </li>
                <div class="clear"></div>
              </ul>
            </div>
          </div>
        </div>
        <div class="b-content">
          <div class="b-topic-navigation">
            <div class="b-topic-navigation__inner">
              <div class="b-topic-navigation__create">
                <ul class="b-topic-navigation-list">
                  <li><a href="#" class="b-topic-navigation__item">Создать</a>
                    <ul class="b-topic-navigation-create b-topic-navigation-create-dropdown">
                      <li class="b-topic-navigation-create__list"><a href="form.html">Топик</a></li>
                      <li class="b-topic-navigation-create__list"><a href="blog.html">Блог</a></li>
                      <li class="b-topic-navigation-create__list"><a href="#">Черновики</a></li>
                      <li class="b-topic-navigation-create__list"><a href="#">Ссылка</a></li>
                      <li class="b-topic-navigation-create__list"><a href="#">Фото альбом</a></li>
                      <li class="b-topic-navigation-create__list"><a href="#">Опрос</a></li>
                      <li class="b-topic-navigation-create__list"><a href="#">Событие</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="b-topic-navigation__middle">
                <ul>
                  <li class="b-topic-navigation-item__item"><img src="img/33.png" alt=""/><span>19</span></li>
                  <li class="b-topic-navigation-item__item"><img src="img/41.png" alt=""/><span>19</span></li>
                  <li class="b-topic-navigation-item__item"><img src="img/34.png" alt=""/><span>19</span></li>
                  <li class="b-topic-navigation-item__item"><a href="" class="icon-image"><img src="img/35.png" alt=""/></a>
                    <ul class="b-topic-navigation-icons-list b-topic-navigation-icons-dropdown">
                      <li class="b-topic-navigation-icons-list__list b-topic-navigation-icons-list__list-padding"><a href="">Видео</a></li>
                      <li class="b-topic-navigation-icons-list__list"><a href="">Фотоальбомы</a></li>
                      <li class="b-topic-navigation-icons-list__list"><a href="">Музыка</a></li>
                      <li class="b-topic-navigation-icons-list__list"><a href="">Ссылки</a></li>
                      <li class="b-topic-navigation-icons-list__list"><a href="">Опросы</a></li>
                      <li class="b-topic-navigation-icons-list__list"><a href="">События</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="b-topic-navigation__right">
                <ul class="b-topic-navigation-format">
                  <li class="b-topic-navigation-format__list"><a href="#" class="format-icon"><img src="img/42.png" alt=""/></a>
                    <ul class="b-topic-navigation-format-dropdown">
                      <li><a href=""><img src="img/44.png" alt=""/></a></li>
                      <li><a href=""><img src="img/45.png" alt=""/></a></li>
                      <li><a href=""><img src="img/46.png" alt=""/></a></li>
                    </ul>
                  </li>
                  <li class="b-topic-navigation-format__list"><a href="" class="format-icon"><img src="img/37.png" alt=""/><span>11</span></a>
                    <ul class="b-topic-navigation-online-dropdown">
                      <li><a href=""><span>Фамилия Имя Отчество</span><img src="img/47.png" alt=""/></a><a href=""><span>Фамилия Имя Отчество</span><img src="img/47.png" alt=""/></a><a href=""><span>Фамилия Имя Отчество</span><img src="img/47.png" alt=""/></a><a href=""><span>Фамилия Имя Отчество</span><img src="img/47.png" alt=""/></a><a href=""><span>Фамилия Имя Отчество</span><img src="img/47.png" alt=""/></a><a href=""><span>Фамилия Имя Отчество</span><img src="img/47.png" alt=""/></a><a href=""><span>Фамилия Имя Отчество</span><img src="img/47.png" alt=""/></a>
                      </li>
                    </ul>
                  </li>
                  <li class="b-topic-navigation-format__list">
                    <div class="buttons-wrapper">
                      <form id="" method="" action="">
                        <input type="text" class="format-type btn"/>
                        <input type="submit" class="format-submit"/>
                      </form>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="b-user-wall">
            <div class="b-user-wall__inner">
              <div class="b-user-wall-header">
                <div class="b-user-wall-header__image"><a href=""><img src="img/48.png" alt=""/></a></div>
                <p class="b-user-wall-header__title">Бурана</p>
                <p class="b-user-wall-header__date">17 июня 2014, 12:53
                  <div class="clear"></div>
                </p>
                <p class="b-user-wall-header__vision"><img src="img/22.png" alt=""/><span>19</span><img src="img/23.png" alt=""/><span>34</span></p>
              </div>
              <div class="b-user-wall-image"><a href=""><img src="img/21.png" alt=""/></a></div>
              <div class="b-user-wall-footer">
                <div class="b-user-wall-footer__image"><a href=""><img src="img/48.png" alt=""/></a></div>
                <p class="b-user-wall-footer__title">Красота Кыргызского народа</p>
                <p class="b-user-wall-footer__number">31 топик
                  <div class="clear"></div>
                </p>
                <div class="b-user-wall-footer__btn"><a href="" class="about-btn btn">Подробнее</a>
                  <ul class="b-user-wall-footer-list">
                    <li><a href="" class="share-btn btn">Поделиться</a>
                      <ul class="b-user-wall-footer-dropdown">
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Google+</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Мой мир</a></li>
                        <li><a href="">В контакте</a></li>
                      </ul>
                    </li>
                  </ul>
                  <input type="submit" class="btn btn-minus"/>
                  <input type="submit" class="btn btn-plus"/><span class="likes">+99</span>
                </div>
              </div>
            </div>
          </div>
          <div class="b-user-wall b-user-wall__topic">
            <div class="b-user-wall__inner">
              <div class="b-user-wall-header">
                <div class="b-user-wall-header__image"><a href=""><img src="img/48.png" alt=""/></a></div>
                <p class="b-user-wall-header__title">Бурана</p>
                <p class="b-user-wall-header__date">17 июня 2014, 12:53
                  <div class="clear"></div>
                </p>
                <p class="b-user-wall-header__vision"><img src="img/22.png" alt=""/><span>19</span><img src="img/23.png" alt=""/><span>34</span></p>
              </div>
              <div class="b-user-wall-image"><a href=""><img src="img/21.png" alt=""/></a></div>
              <div class="b-user-wall-footer">
                <div class="b-user-wall-footer__image"><a href=""><img src="img/48.png" alt=""/></a></div>
                <p class="b-user-wall-footer__title">Красота Кыргызского народа</p>
                <p class="b-user-wall-footer__number">31 топик
                  <div class="clear"></div>
                </p>
                <div class="b-user-wall-footer__btn"><a href="" class="about-btn btn">Подробнее</a><a href="" class="share-btn btn">Поделиться</a>
                  <ul class="b-user-wall-footer-dropdown">
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                  </ul>
                  <input type="submit" class="btn btn-minus"/>
                  <input type="submit" class="btn btn-plus"/><span class="likes">+99</span>
                </div>
              </div>
            </div>
          </div>
          <div class="b-user-wall">
            <div class="b-user-wall__inner">
              <div class="b-user-wall-header">
                <div class="b-user-wall-header__image"><a href=""><img src="img/48.png" alt=""/></a></div>
                <p class="b-user-wall-header__title">Бурана</p>
                <p class="b-user-wall-header__date">17 июня 2014, 12:53
                  <div class="clear"></div>
                </p>
                <p class="b-user-wall-header__vision"><img src="img/22.png" alt=""/><span>19</span><img src="img/23.png" alt=""/><span>34</span></p>
              </div>
              <div class="b-user-wall-image"><a href=""><img src="img/21.png" alt=""/></a></div>
              <div class="b-user-wall-footer">
                <div class="b-user-wall-footer__image"><a href=""><img src="img/48.png" alt=""/></a></div>
                <p class="b-user-wall-footer__title">Красота Кыргызского народа</p>
                <p class="b-user-wall-footer__number">31 топик
                  <div class="clear"></div>
                </p>
                <div class="b-user-wall-footer__btn"><a href="" class="about-btn btn">Подробнее</a><a href="" class="share-btn btn">Поделиться</a>
                  <ul class="b-user-wall-footer-dropdown">
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                  </ul>
                  <input type="submit" class="btn btn-minus"/>
                  <input type="submit" class="btn btn-plus"/><span class="likes">+99</span>
                </div>
              </div>
            </div>
          </div>
          <div class="b-user-wall b-user-wall__topic">
            <div class="b-user-wall__inner">
              <div class="b-user-wall-header">
                <div class="b-user-wall-header__image"><a href=""><img src="img/48.png" alt=""/></a></div>
                <p class="b-user-wall-header__title">Бурана</p>
                <p class="b-user-wall-header__date">17 июня 2014, 12:53
                  <div class="clear"></div>
                </p>
                <p class="b-user-wall-header__vision"><img src="img/22.png" alt=""/><span>19</span><img src="img/23.png" alt=""/><span>34</span></p>
              </div>
              <div class="b-user-wall-image"><a href=""><img src="img/21.png" alt=""/></a></div>
              <div class="b-user-wall-footer">
                <div class="b-user-wall-footer__image"><a href=""><img src="img/48.png" alt=""/></a></div>
                <p class="b-user-wall-footer__title">Красота Кыргызского народа</p>
                <p class="b-user-wall-footer__number">31 топик
                  <div class="clear"></div>
                </p>
                <div class="b-user-wall-footer__btn"><a href="" class="about-btn btn">Подробнее</a><a href="" class="share-btn btn">Поделиться</a>
                  <ul class="b-user-wall-footer-dropdown">
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""> </a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                  </ul>
                  <input type="submit" class="btn btn-minus"/>
                  <input type="submit" class="btn btn-plus"/><span class="likes">+99</span>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </body>
</html>