.b-profile-about__message
	.b-profile-about-message
		.b-profile-about-message__image
			img(src="img/20.png", alt="")
			p.b-profile-about-message-button__raiting + 0.00
		.b-profile-about-message__message
			.b-profile-about-message-top
				p.b-profile-about-message-top__user Пользователь
				p.b-profile-about-message-top__date
					img(src="images/", alt="")
					span 11 февраля
					span 2015
					span 16:40
				.clear
			.b-profile-about-message-text
				p.b-profile-about-message-text__text Lorem Ipsum is simply dummy text of the 
					| printing and typesetting industry. Lorem Ipsum has been the industry's 
					| standard dummy text ever since the 1500s, when an unknown printer took a 
					| galley of type and scrambled it to make a type specimen book. It has survived 
					| not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
					| It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
					| publishing software like Aldus PageMaker including versions of Lorem Ipsum.

			.b-profile-about-message-button
				.b-profile-about-message-button__answer
					input.button-default.button-submit(type="submit" value="Ответить")
				.b-profile-about-message-button__delete
					input.button-default.button-submit(type="submit" value="Удалить")
				.b-profile-about-message-button__minus
					input.button-default.button-small(type="submit")
				.b-profile-about-message-button__plus
					input.button-default.button-small(type="submit")
				p.b-profile-about-message-button__raiting +10

		.clear



