
mixin dropdown-message
	ul.b-header-nav-dropdown.b-header-nav-dropdown-message
		li
			.b-header-nav-dropdown__message
				img.header-dropdown-image(src="img/3.png", alt="")
				p.text.text-name Сергей Бобровский
				p.text.text-message Чем занимаешься
	block

+dropdown-message