/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
vendor/*

tests/_output/*


app/public/images/user/*
app/config/devzone51/*
/nbproject/private/
public/js/tinymce/plugins/filemanager/config.php
node_modules/*

public/images/*
public/img/temp

/public/uploads/