@font-face {
	font-family: 'PT Sans Caption';
	src: url("../fonts/PTC55F_W.eot");
	src: url("../fonts/PTC55F_W.eot?#iefix") format('embedded-opentype'), url("../fonts/PTC55F_W.woff") format('woff'), url("../fonts/PTC55F_W.ttf") format('truetype'), url("../fonts/PTC55F_W.svg#PT Sans Caption") format('svg');
	font-weight: 'normal';
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @	font-face {
		font-family: 'PT Sans Caption';
		src: url("../fonts/PTC55F_W.svg#PT Sans Caption") format('svg');
	}
}

@font-face {
	font-family: 'PT Sans Caption Bold';
  src: url("../fonts/pt-sans-caption-bold.eot");
  src: url("../fonts/pt-sans-caption-bold.eot?#iefix") format('embedded-opentype'), url("../fonts/pt-sans-caption-bold.woff") format('woff'), url("../fonts/pt-sans-caption-bold.ttf") format('truetype'), url("../fonts/pt-sans-caption-bold.svg#PT Sans Caption Bold") format('svg');
  font-weight: 'bold';
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @	font-face {
		font-family: 'PT Sans Caption Bold';
		src: url("../fonts/pt-sans-caption-bold.svg#PT Sans Caption Bold") format('svg');
	}
}

@font-face {
	font-family: 'PT Sans';
  src: url("../fonts/pt-sans-regular.eot");
  src: url("../fonts/pt-sans-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/pt-sans-regular.woff") format('woff'), url("../fonts/pt-sans-regular.ttf") format('truetype'), url("../fonts/pt-sans-regular.svg#PT Sans") format('svg');
  font-weight: 'normal';
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @	font-face {
		font-family: 'PT Sans';
		src: url("../fonts/pt-sans-regular.svg#PT Sans") format('svg');
	}
}
