.gradient-shadow-style {
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
}
.form-text-style {
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
}
.b-header ul > li a {
  font-family: 'PTSansRegular';
  color: #fff;
}
.b-header ul > li a:hover {
  background: transparent;
}
.b-header ul > li a:focus {
  background: transparent;
}
.b-header .navbar-default {
  background: url(../img/1.png);
  background-size: cover;
  background-color: #222121;
}
.b-header .dropdown-menu {
  background-color: #e1674a;
  border-bottom: 4px solid #c84526;
}
.b-header .dropdown-menu a:hover {
  background: #db5637;
  color: #fff;
}
.b-header span.counter {
  width: 18px;
  height: 16px;
  display: inline-block;
  border-radius: 2px;
  background-color: red;
  font-size: 11px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}
.b-profile__image p {
  display: inline-block;
  float: right;
  margin-right: 15px;
  color: #999;
  font-family: 'PTSansRegular';
  font-size: 12px;
}
.b-profile__image img {
  border-bottom: 10px solid #95b539;
}
.b-profile__name span.rait {
  color: #999;
  font-family: 'PTSansRegular';
  font-size: 12px;
}
.b-profile__name span.num {
  color: #25ad85;
  font-family: 'PTSansCaptionBold';
  font-size: 18px;
}
.b-profile__name p.profile-name {
  color: #676767;
  font-family: 'PTSansCaptionBold';
  font-size: 24px;
}
.b-profile__name p.date {
  color: #676767;
  font-family: 'PTSansRegular';
  font-size: 12px;
}
.b-icons-top ul li:nth-child(1) a {
  background: url(../img/15.png);
  background-position: 0 0;
}
.b-icons-top ul li:nth-child(1) a:hover {
  background: url(../img/15.png);
  background-position: -38px 0;
}
.b-icons-top ul li:nth-child(2) a {
  background: url(../img/15.png);
  background-position: -84px 0;
}
.b-icons-top ul li:nth-child(2) a:hover {
  background: url(../img/15.png);
  background-position: -122px 0;
}
.b-icons-top ul li:nth-child(3) a {
  background: url(../img/15.png);
  background-position: -169px 0;
}
.b-icons-top ul li:nth-child(3) a:hover {
  background: url(../img/15.png);
  background-position: -206px 0;
}
.b-icons-top ul li:nth-child(4) a {
  background: url(../img/15.png);
  background-position: -253px 0;
}
.b-icons-top ul li:nth-child(4) a:hover {
  background: url(../img/15.png);
  background-position: -291px 0;
}
.b-icons-top ul li:nth-child(5) a {
  background: url(../img/15.png);
  background-position: -339px 0;
}
.b-icons-top ul li:nth-child(5) a:hover {
  background: url(../img/15.png);
  background-position: -377px 0;
}
.b-icons-top ul li:nth-child(6) a {
  background: url(../img/15.png);
  background-position: -425px 0;
}
.b-icons-top ul li:nth-child(6) a:hover {
  background: url(../img/15.png);
  background-position: -463px 0;
}
.b-icons-top ul li:nth-child(7) a {
  background: url(../img/15.png);
  background-position: -510px 0;
}
.b-icons-top ul li:nth-child(7) a:hover {
  background: url(../img/15.png);
  background-position: -548px 0;
}
.b-icons-top ul li a {
  width: 36px;
  height: 35px;
  margin: 0;
  border-radius: none;
  border: none;
}
.b-icons-top ul {
  border: none;
}
.b-btns {
  margin-top: 20px;
}
.b-btns li {
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  width: 253px;
  height: 36px;
  background-color: #fff;
  border-radius: 0;
  margin-bottom: 1px;
  font-family: 'PTSansRegular';
}
.b-btns li:first-child {
  background-image: url('../img/14.png');
  background-repeat: no-repeat;
  background-position: 0 5px;
}
.b-btns li:first-child:hover {
  background-image: url('../img/14.png');
  background-repeat: no-repeat;
  background-position: 0 -140px;
}
.b-btns li:nth-child(2) {
  background-image: url('../img/14.png');
  background-repeat: no-repeat;
  background-position: 0 -44px;
}
.b-btns li:nth-child(2):hover {
  background-image: url('../img/14.png');
  background-repeat: no-repeat;
  background-position: 0 -180px;
}
.b-btns li:nth-child(3) {
  background-image: url('../img/14.png');
  background-repeat: no-repeat;
  background-position: 0 -90px;
}
.b-btns li:nth-child(3):hover {
  background-image: url('../img/14.png');
  background-repeat: no-repeat;
  background-position: 1px -216px;
}
.b-btns li:nth-child(4) {
  background-image: url('../img/14.png');
  background-repeat: no-repeat;
  background-position: 5px -310px;
  height: 60px;
  line-height: 50px;
  margin-top: 20px;
}
.b-btns li:nth-child(4):hover {
  background-image: url('../img/14.png');
  background-repeat: no-repeat;
  background-position: 5px -255px;
}
.b-wall-nav {
  margin-bottom: 10px;
}
.b-wall-nav ul {
  background: #fff;
  border: none;
}
.b-wall-nav ul a {
  color: #676767;
  border-radius: 0;
  font-size: 16px;
  font-family: 'PTSansRegular';
}
.b-wall-nav ul a:hover {
  background-image: url('../img/18.png');
  border-radius: 0;
  color: #fff;
}
.b-wall-nav ul li {
  border-radius: 0;
  border-right: 1px solid #d0cfcf;
}
.b-wall-content .col-lg-6 {
  background: #fff;
}
p.video-title {
  padding: 10px 0;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
}
p.video-title .title {
  color: #999;
  font-family: 'PTSansRegular';
  font: 16px;
  text-transform: uppercase;
}
p.video-title .buttons-all {
  border-radius: 0;
  width: 30px;
  position: absolute;
  right: 0;
  line-height: 0;
  height: 19px;
}
p.video-title .buttons-all:hover {
  background-color: #f67658;
}
.b-wall-top {
  position: relative;
  padding: 15px;
  background: #fff;
}
.b-wall-top a {
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
}
.b-wall-top .top-inner img {
  padding-right: 10px;
}
.b-wall-top .top-inner .wall-top-name {
  color: #333;
  font-size: 16px;
  font-family: 'PTSansCaptionBold';
}
.b-wall-top .top-inner span.wall-top-date {
  color: #999;
  font-size: 12px;
  font-family: 'PTSansRegular';
  display: block;
}
.b-wall-top .top-count {
  position: absolute;
  top: 0;
  right: 5px;
}
.b-wall-top .top-count span {
  display: inline-block;
  padding: 5px;
  color: #999;
  font-size: 11px;
  font-family: 'PTSansRegular';
}
.b-media__right ul {
  margin-bottom: 10px;
}
.b-wall-bot {
  padding: 5px;
  background: #fff;
}
.b-wall-bot .bot-image img {
  padding-right: 10px;
}
.b-wall-bot .share-list-dropdown li {
  padding: 10px;
}
.b-wall-bot .share-list-dropdown li:nth-child(1) a {
  background: url(../img/16.png) no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.b-wall-bot .share-list-dropdown li:nth-child(2) a {
  background: url(../img/16.png) no-repeat;
  background-position: 0 -26px;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.b-wall-bot .share-list-dropdown li:nth-child(3) a {
  background: url(../img/16.png) no-repeat;
  background-position: 0 -52px;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.b-wall-bot .share-list-dropdown li:nth-child(4) a {
  background: url(../img/16.png) no-repeat;
  background-position: 0 -78px;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.b-wall-bot .share-list-dropdown li:nth-child(5) a {
  background: url(../img/16.png) no-repeat;
  background-position: 0 -104px;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.b-wall-bot a.about {
  width: 150px;
  height: 30px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  text-align: center;
  border-radius: 0;
  font-size: 14px;
  color: #999;
  font-family: 'PTSansRegular';
  line-height: 10px;
}
.b-wall-bot a.about:hover {
  background-color: #e16549;
  color: #fff;
}
.b-wall-bot a.share {
  width: 174px;
  height: 30px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  text-align: center;
  border-radius: 0;
  font-size: 14px;
  color: #999;
  font-family: 'PTSansRegular';
  line-height: 10px;
}
.b-wall-bot a.share:hover {
  background-color: #e16549;
  color: #fff;
}
.b-wall-bot .bot-name-title {
  font-family: 'PTSansCaptionBold';
  font-size: 14px;
  color: #e16549;
}
.b-wall-bot .bot-count-title {
  color: #999;
  font-size: 12px;
  font-family: 'PTSansRegular';
  display: block;
}
.b-wall-bot ul li a.btn {
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  width: 32px;
  height: 32px;
  background: url(../img/24.png) no-repeat;
  background-position: 50% 50%;
  margin-top: -2px;
}
.b-wall-bot ul li:nth-child(4) a.btn {
  background: url(../img/25.png) no-repeat;
  background-position: 50% 50%;
}
.b-wall-bot ul li:nth-child(5) {
  color: #676767;
  font-size: 15px;
  font-family: 'PTSansCaptionBold';
}
.clear {
  clear: both;
}
.b-wall-image img {
  width: 100%;
  overflow: hidden;
}
.b-main-block-wrapper {
  margin-bottom: 20px;
  background-color: #fff;
}
.b-main-block-wrapper img {
  border: 1px solid rgba(127, 127, 127, 0.3);
  width: 100%;
  width: 125px;
}
.b-wall-content__left {
  background: #fff;
}
/*
============================================
============================================
				Form Styles :)
============================================
============================================
*/
.b-add-topic p.title {
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font: 16px 'PTSansCaptionBold';
  padding: 10px 5px;
}
.b-add-topic span.close-topic {
  background: url(../img/26.png) no-repeat;
  width: 10px;
  height: 10px;
  background-position: 50% 50%;
}
.b-add-topic .topic-add-name {
  width: 705px;
  height: 40px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  padding-left: 10px;
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
}
.topic-select-blog select {
  width: 40%;
  height: 40px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
  margin-top: 10px;
}
.topic-select-blog .skin-topic-btn {
  width: 132px;
  height: 32px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
  margin-left: 10px;
}
.topic-textarea textarea {
  width: 100%;
  height: 362px;
}
.topic-footer-row input.tag-item {
  width: 260px;
  height: 40px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
  padding-left: 10px;
}
.topic-footer-row .topic-adding-gallery {
  width: 152px;
  height: 32px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
}
.topic-footer-row .topic-adding-music {
  width: 152px;
  height: 32px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
}
.topic-footer-row2 {
  margin-top: 20px;
}
.topic-footer-row2 input {
  width: 120px;
  height: 32px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
}
.modal-content {
  width: 720px;
  height: 700px;
}
.modal-gallery__inner .modal-gallery__top .modal-label-item {
  width: 220px;
  height: 28px;
  display: inline-block;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
}
.modal-gallery__inner .modal-gallery__top .modal-search-btn {
  width: 35px;
  height: 28px;
  background: url('../img/27.png') no-repeat;
  display: inline-block;
  background-position: 50% 50%;
  background-color: #c4573d;
  text-indent: -9999px;
  border: none;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
}
.modal-gallery__inner .modal-gallery__top .modal-close-btn {
  width: 35px;
  height: 28px;
  background: url('../img/27.png') no-repeat;
  display: inline-block;
  background-color: #c4573d;
  text-indent: -9999px;
  border: none;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
  background: url('../img/26.png') no-repeat;
  background-position: 50% 50%;
}
.modal-gallery__inner .modal-gallery__top .modal-select-item {
  width: 220px;
  height: 28px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
  display: inline-block;
  margin-left: 140px;
}
.modal-gallery__photo ul {
  height: 500px;
  overflow-y: auto;
}
.modal-gallery__photo li {
  height: 80px;
  list-style: none;
  border: 1px solid rgba(169, 169, 169, 0.4);
  font: 12px;
  font-family: 'PTSansCaptionBold';
  line-height: 80px;
  color: #676767;
}
.modal-gallery__photo li:first-child {
  height: 40px;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  line-height: 40px;
}
.modal-gallery__photo .modal-title-skin {
  float: left;
  width: 80px;
}
.modal-gallery__photo .modal-title-photo {
  float: left;
  width: 450px;
}
.modal-gallery__photo .modal-title-access {
  width: 100px;
  float: right;
}
.modal-gallery__btn input {
  width: 73px;
  height: 32px;
  display: inline-block;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
  font-size: 14px;
  font-family: 'PTSansCaptionBold';
  color: #999999;
  border: none;
}
/*
===========================================
===========================================

                     .b-menu-topic style

===========================================
===========================================
*/
.b-menu-topic {
  margin-bottom: 20px;
}
.b-menu-topic .b-menu-topic__inner {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 1, 0, 0.3);
}
.b-menu-topic__create {
  padding: 5px 0;
  display: inline-block;
}
.b-menu-topic__create ul.nav {
  max-width: 150px;
}
.b-menu-topic__create a.create {
  text-decoration: none;
  font: 15px 'PT Sans Caption';
  color: #999;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 1px 1px 1px 0 rgba(127, 127, 127, 0.3);
  border: 1px solid #d5d5d5;
  width: 120px;
  display: block;
  text-align: center;
}
.b-menu-topic__create a.create:before {
  display: inline-block;
  content: '';
  background: url(../img/content/plus_middle_menu.png) no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 10px;
  top: 30%;
}
.b-menu-topic__create a.create:after {
  display: inline-block;
  content: '';
  background: url(../img/content/arrow.png) no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 10px;
  top: 40%;
}
span.create {
  display: inline-block;
  width: 22px;
  height: 23px;
  background: url(../img/13.png) no-repeat;
  vertical-align: middle;
}
span.item1 {
  background-position: 0 0;
}
span.item2 {
  background-position: 0 -31px;
}
span.item3 {
  background-position: 0 -61px;
}
span.item4 {
  background-position: 0 -90px;
}
span.item5 {
  background-position: 0 -122px;
}
span.item6 {
  background-position: 0 -154px;
}
span.item7 {
  background-position: 0 -183px;
}
.b-menu-topic__likes {
  position: relative;
  display: inline-block;
}
.b-menu-topic__likes a {
  padding: 0 20px;
}
.b-menu-topic__likes a.item1 {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/time.png) no-repeat;
}
.b-menu-topic__likes a.item2 {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/vk.png) no-repeat;
}
.b-menu-topic__likes a.item3 {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/like.png) no-repeat;
}
.b-menu-topic__likes span.item1 {
  position: absolute;
  top: -10px;
  left: 10px;
}
.b-menu-topic__likes span.item2 {
  position: absolute;
  top: -10px;
  left: 50px;
}
.b-menu-topic__likes span {
  color: #e26649;
  font-size: 10px;
}
.b-menu-topic__social {
  display: inline-block;
}
.b-menu-topic__social > ul {
  max-width: 150px;
}
.b-menu-topic__social a.media {
  display: inline-block;
  width: 32px;
  height: 19px;
  background: url(../img/content/media_icon.png) no-repeat;
  background-position: 50% 50%;
  box-shadow: 1px 1px 1px 0 rgba(127, 127, 127, 0.3);
  border: 1px solid #d5d5d5;
}
.b-menu-topic__social span.media {
  display: inline-block;
  width: 22px;
  height: 27px;
  background: url(../img/29.png) no-repeat;
  vertical-align: middle;
}
.b-menu-topic__social span.item1 {
  background-position: 0 0;
}
.b-menu-topic__social span.item2 {
  background-position: 0 -36px;
}
.b-menu-topic__social span.item3 {
  background-position: 0 -71px;
}
.b-menu-topic__social span.item4 {
  background-position: 0 -101px;
}
.b-menu-topic__social span.item5 {
  background-position: 0 -135px;
}
.b-menu-topic__social span.item6 {
  background-position: 0 -167px;
}
.b-menu-topic__format {
  display: inline-block;
}
.b-menu-topic__format a.item {
  display: inline-block;
  width: 16px;
  height: 17px;
  background: url(../img/30.png) no-repeat;
}
.b-menu-topic__online {
  display: inline-block;
}
.b-menu-topic__search {
  display: inline-block;
}
.b-menu-topic__search input[type="text"] {
  width: 135px;
  height: 26px;
  border-radius: 3px;
}
.b-menu-topic__search input[type="submit"] {
  width: 24px;
  height: 24px;
  background: url(../img/32.png) no-repeat;
  background-color: #e16549;
  background-position: 50% 50%;
  color: transparent;
  border: none;
  background-image: linear-gradient(top, #ffffff 0%, #f2f1f1 100%);
  box-shadow: 0 1px 1px rgba(127, 127, 127, 0.5);
}
.b-main-topic-wrapper {
  max-width: 1300px;
}
