$lightGradient = linear-gradient(top, #fff 0%, #f2f1f1 100%)
$orangeGradient = linear-gradient(top, #f67658 0%, #c4563c 100%)


$baseFontColor = #999
$baseFontColorLight = #676767
$orangeFontColor = #e16549

$baseFontFamily = 'PT Sans Caption'
$baseFontFamilyBold = 'PT Sans Caption Bold'

$baseBoxShadow =  0 1px 1px rgba(127,127,127,.3)


$baseBorder = 1px solid #d5d5d5