.b-header
	.b-header__inner
		.b-header-nav
			ul
				li.b-header-nav__list


					a(href="#")
						img(src="img/2.png", alt="logo")
						span.logo I-Kyrgyz
				li.b-header-nav__list
					a(href="#")
						img(src="img/38.png", alt="user")
						span.user-name Имя пользователя
					ul.b-header-nav-dropdown
						li
							a(href="#") Изменить профиль
						li
							a(href="#") Личные сообщения(1877)

						li
							a(href="#") Друзья
						li
							a(href="#") Группы
				li.b-header-nav__list
					
					a.counter-block(href="#")
						img(src="img/4.png", alt="msg")
						span.counter 25
					ul.b-header-nav-dropdown
						li
							img(src="img/3.png", alt="")
							span Cергей Бобровский </br>отправил вам приглашение в друзья</br>
						
							a.btn(href="#") Принять
						
							a.btn(href="") Отклонить
												
				li.b-header-nav__list
					a.counter-block(href="#")
						img(src="img/5.png", alt="msg")
						span.counter 25
					ul.b-header-nav-dropdown
						li
							a(href="#") Изменить профиль
						li
							a(href="#") Личные сообщения(1877)

						li
							a(href="#") Друзья
						li
							a(href="#") Группы	
				li.b-header-nav__list
					a.counter-block(href="#")
						img(src="img/6.png", alt="msg")
						span.counter 25
					ul.b-header-nav-dropdown
						li
							a(href="#") Изменить профиль
						li
							a(href="#") Личные сообщения(1877)

						li
							a(href="#") Друзья
						li
							a(href="#") Группы	
				li.b-header-nav__list
					a(href="#")
						img(src="img/7.png", alt="search")
						span.search-friend Поиск друзей
					
								
				li.b-header-nav__list
					a(href="#")
						img(src="img/8.png", alt="search")
						span.search-friend Энциклопедия
					ul.b-header-nav-dropdown
						li
							a(href="") История
						li
							a(href="") Обычаи
						li
							a(href="") Культура	
				
				li.b-header-nav__list
					a(href="#")
						img(src="img/39.png", alt="search")
					ul.b-header-nav-dropdown

						
						
						li
							a(href="#") Выбор языка
							ul.b-header-sub-menu
								li
									a(href="")
										img(src="img/30.png", alt="")
										span Английский
								li
									a(href="")
										img(src="img/30.png", alt="")
										span Русский
								li
									a(href="")
										img(src="img/30.png", alt="")
										span Русский	
						li
							a(href="#") Помощь
							ul.b-header-sub-menu
								li
									a(href="") Сообщить о проблеме
								li
									a(href="") История действии
								
						li
							a(href="#") выход
				.clear
						