include ../blocks/dropdown-message.jade
.b-header
	.b-header__inner
		.b-header-nav
			ul
				li.b-header-nav__left
					.b-header-nav-logo
						.b-header-nav-logo__item
							a(href="#")
								img(src="img/2.png", alt="logo")
								span.logo I-Kyrgyz
					.b-header-nav-user
						.b-header-nav-user__item
							a(href="#")
								img(src="img/38.png", alt="user")
								span.user-name Имя пользователя
				li.b-header-nav__middle
					.b-header-nav-button
						.b-header-nav-button__item
							a.counter-block(href="#")
								img(src="img/4.png", alt="msg")
								span.counter 999
						.b-header-nav-button__item
							a.counter-block(href="#")
								img(src="img/4.png", alt="msg")
								span.counter 999
						.b-header-nav-button__item
							a.counter-block(href="#")
								img(src="img/4.png", alt="msg")
								span.counter 999





					
				li.b-header-nav__right
					.b-header-nav-search
						.b-header-nav-search__item
							a(href="#")
								img(src="img/7.png", alt="search")
								span.search-friend Поиск друзей
					.b-header-nav-enc
						.b-header-nav-enc__item
							a(href="#")
								img(src="img/8.png", alt="search")
							span.search-friend Энциклопедия
					.b-header-nav-setting
						.b-header-nav-setting__item
							a(href="")
								img(src="img/8.png", alt="")
					
				.clear
				
						