<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title I-kyrgyz
		link(rel="stylesheet", href="../public/css/style.css")
		link(rel="stylesheet", href="../public/css/fonts.css")
		link(rel="stylesheet", href="../public/css/reset.css")
		link(rel="stylesheet", href="../public/css/jquery.formstyler.css")
		script(type="text/javascript", src="../public/jquery/jquery.min.js")
		script(type="text/javascript", src="../public/jquery/jquery-ui.js")
		script(type='text/javascript', src="../public/jquery/supermodal.js")
		script(type="text/javascript", src="../public/js/jquery.easytabs.js")
		script(type="text/javascript", src="../public/js/script.js")
		script(type="text/javascript", src="../public/js/jquery.formstyler.js")
		
	
		
	body
		block content
		
		

