@import 'nib'
@import 'nib/normalize'
@import 'lib/*.styl'

.b-header-nav-text
	display inline-block
	color #fff
	font 18px $baseFontFamily
	
	vertical-align middle
.b-header-nav-user
	position relative
	
	
	
	background-image linear-gradient(bottom, #ed7d29 0%, #ff8f3d 99.49%, #ff8f3d 100%)
	&__item
		display inline-block
		line-height 80px
		padding-right 25px 
		border-right 1px solid #f9ab71
		width 235px
		padding-left 15px
	&__counter
		display inline-block
		vertical-align middle
		padding-left 10px
		width 60px
.b-header-nav-user-button
	//
	&__list
		//
		a
			display block
			height 25px
	
.b-header-nav
	//
	&__right
		width 35%
.b-header
	background #01508a

			
.arrow-down
	display inline-block
	background-image url(../img/party/5.png)
	background-repeat no-repeat
	width 8px
	height 4px
	position absolute
	left 32px
	bottom 5px
	

.b-header-nav-user
	position relative
	
	
.dropdown-list
	background #fff
	border-bottom 4px solid #ed7d29
	
	dd
		a
			line-height 30px
			
.raiting
	display block
	float right
	
.b-topic-navigation-menu__list
	//
	.dropdown-list
		left 0
		
		
.b-topic-navigation__middle
	float left
	width 40%
	padding-left 150px
	
.b-topic-navigation-middle
	//
	.dropdown-list
		width 135px
		box-shadow $baseBoxShadow
		border-bottom 
	&__list
		float left
		position relative
	
		
		
		
			
		a.dropdown-arrow
			border-right $baseBorder
			background url(../img/party/6.png) no-repeat
			background-position 45px center
				
				
		
		a		
			border-left $baseBorder
			padding 10px 15px		
			display block
			font 14px $baseFontFamily
			&:hover
				background-color #f1f1f1
			
		
		
		
	a:link, a:visited
		color $partyFontColor
		




/*
Topic style
*/

.b-user-wall-header
	//
	&__vision
		float left
		padding-left 15px
		p:first-child
			padding 10px 0
	&__fav
		float right
		padding-top 15px
		a
			display block
			background-image url(../img/party/7.png)
			background-repeat no-repeat
			width 23px
			height 22px

.b-user-wall-footer-wrapper
	float left
	width 200px
	
.b-user-wall-footer-raiting-share
	float left
	padding-right 10px
	
	li
		position relative
	.share-button
		display inline-block
		width 32px
		height 30px
	
		background-image url(../img/party/9.png), linear-gradient(top, #fff 0%, #f2f1f1 100%)
		background-repeat no-repeat
		
		background-position 50% 50%
		
		cursor pointer
		border 1px solid #d5d5d5
		&:hover
			background-image url(../img/party/10.png), linear-gradient(top, #f9a566 0%, #ed7e2a 100%)
			background-repeat no-repeat
			border 1px solid #ed7e2a
			

.b-user-wall-footer-header
	border-top $baseBorder
	padding 0
	&__left
		background #f3f3f3
		float left
		width 340px
	&__right
		float right
		
.b-user-wall-footer
	//
	&__image
		padding-left 10px
		
			
.b-user-wall-footer-raiting__right
	padding-top 10px
	padding-right 5px
	
.b-user-wall-footer-raiting__arrow-down input.btn-raiting
	background-image url(../img/party/11.png), linear-gradient(top, #fff 0%, #f2f1f1 100%)	
	&:hover
		background-image url(../img/party/11_hover.png),  linear-gradient(top, #f77572 0%, #e7534f 100%)	
		border 1px solid #e7534f
.b-user-wall-footer-raiting__arrow-up input.btn-raiting
	background-image url(../img/party/12.png), linear-gradient(top, #fff 0%, #f2f1f1 100%)	
	&:hover
		background-image url(../img/party/12_hover.png),  linear-gradient(top, #32a1f0 0%, #0f85d9 100%); 	
		border 1px solid #0f85d9
		
		
.b-user-wall-image
	margin-top 0
		
/*
login-page


*/

	

	

	
	
	