 @import 'nib'
 @import 'nib/normalize'
 @import 'lib/*.styl'
 body 
 	width 100%
 	background #e5e5e5
 	overflow-x hidden
.b-header 
	background url(../img/1.png) repeat-x
	
	
	&__inner
		max-width 1200px
		margin 0 auto
		width 100%
		margin-bottom 13px
	&-nav
		//
	
		&__list
			display inline-block
			padding 1% 1.3%
			list-style none
			position relative
			.user-name
				padding-left 18px
				
			.logo
				padding-left 18px
				font-size 18px
				text-transform uppercase
			.counter-block	
				//
			.search-friend
				padding-left 15px
				
			img 
				vertical-align middle
				
			a 
				color #fff
				font-family 'PT Sans Caption'
				font-size 15px
			.counter 
				background-clip padding-box
				display inline-block
				width 18px
				height 16px
				font-size 11px
				line-height 17px
				border-radius 2px
				text-align center
				box-shadow 0 1px 4px rgba(0,0,0,.5)
				background #ef1b29
				margin-left 10px
				font-family 'PT Sans Caption Bold'
				background-image linear-gradient(bottom, rgba(79,79,79,.1) 0%, rgba(255,255,255,.1) 100%)
	@media screen and (max-width:1055px) {
		.b-header-nav__list {
			display block
			padding 3% 0
		}
		.b-header__inner {
			max-width: 250px;
			margin 0 auto
		}
		
	}
	
.header-logo__image
	width 40px !important
	height 40px !important
.b-header-nav-dropdown 
	display none
	position absolute
	top 100%
	left 0
	float left
	z-index 1000
	background #e1674a
	min-width 160px 
	border-bottom 4px solid #c84526
	&:before
		width 0 
		height 0
		border-left 10px solid transparent
		border-right 10px solid transparent
		content ''
		border-bottom 10px solid #e1674a
		display block
		margin -10px 0 0 15px
		
	
	
	> li
		padding 10px 30px
		text-align left
		
		&:hover {
			background #db5637
		}
		a
			font-size 13px
		.btn
			button-default()
			color #999
			margin 5px
			display inline-block
			padding 0 5px
			font 13px $baseFontFamily
			
		span 
			color #fff
			font 15px $baseFontFamily
			white-space nowrap

	
			
.b-header-nav-dropdown__message
	//
	.header-dropdown-image
		float left
		margin-right 10px
		width 31px
		height 39px
		overflow hidden
	.text
		color #fff
		font  15px $baseFontFamily
		white-space nowrap
		padding 0 10px
	.text-message
		font-size 12px
		color #fff
	

			
		
			
.b-header-sub-menu
	display none
	position absolute
	right 160px	
	background #e1674a
	width 185px
	height 114px
	border-bottom 4px solid #c84526	
	float left
	z-index 1000
	li
		padding 10px 10px
		
		img
			padding-right 10px
		a
			white-space wrap	
	

.b-content 
	max-width 1000px
	width 100%
	margin 0 auto
	

.b-user-profile
	max-width 1000px
	width 100%
	padding-bottom 1.5%
	&__left
		position relative 
		float left
		width 26%
		margin-right 5px
		.user-link-photo
			float right
			margin-right 10px
			a
				color #999
				font-size 12px
				font-family 'PT Sans Caption'
		.user-image
			//
			img				
				border-bottom 10px solid #7da027		
				
	
	&__middle 
		float left
		width 46%
		.user-raiting
			font-size 12px
			color #999
			font-family 'PT Sans Caption'
			margin-bottom 25px
			.num
				color #26ae86
				font-size 18px
				font-family 'PT Sans Caption Bold'
		.user-name
			color #676767
			font-size 24px
			font-family 'PT Sans Caption Bold'
			line-height 30px
			margin-bottom 23px
		.user-date
			font-size 12px
			color #676767
			font-family 'PT Sans Caption'			
	&__right
		float right
		width 26%
		.b-user-profile-link
			a
				color #999
				font-size 12px
				font-family 'PT Sans Caption'
				




.b-user-profile-links
	// 
	&__list
		float left
		background-color #fff
		padding 5px
		button-default()
		
		a
			display block
			width 23px
			height 23px
			background url(../img/28.png) no-repeat
			
			
			
			
			
	
		&:nth-child(1)
			a
				background-position 0 0
				&:hover 
					background-position -38px 0
				
		&:nth-child(2)
			a
				background-position  -87px 0
				&:hover 
					background-position -125px 0		
		&:nth-child(3)
			a
				background-position  -170px 0
				&:hover 
					background-position -207px 0	
		&:nth-child(4)
			a
				background-position  -254px 0
				&:hover 
					background-position -292px 0
		&:nth-child(5)
			a
				background-position  -340px 0
				&:hover 
					background-position -378px 0			
					
		&:nth-child(6)
			a
				background-position  -426px 0
				&:hover 
					background-position -464px 0	
		&:nth-child(7)
			a
				background-position  -511px 0
				&:hover 
					background-position -549px 0

.b-user-profile-buttons
	margin 10px 0 0 0
	&__list
		
		//
		a
			height 35px
			width 251px
			display block
			background $lightGradient
			box-shadow: 0 1px 1px rgba(127,127,127,.3);
			margin-bottom 1px;
			line-height 35px
			color #999
			font-size 14px
			font-family 'PT Sans Caption'
			
			&:hover .msg-image
				background-position 0 -139px
			&:hover .search-image
				background-position 0 -179px
			&:hover .system-image
				background-position 1px -217px
			&:hover .random-image
				background-position 5px -256px		
		span
			width 44px
			height 35px
			background url(../img/14.png) no-repeat
			display inline-block
			vertical-align middle
			float left			
			padding-right 10px
			
			
		.msg-image
			background-position 0 6px	
			
		.search-image
			background-position 0 -43px
			
			
		.system-image
			background-position 0 -91px
			
		.random-image
			background-position 5px -311px
			
			height 52px	
			
		&:nth-child(4)
			a
				height 72px
				line-height 72px				
				margin 15px 0 0 0

.b-user-navigation
	padding-bottom 2%
.b-user-navigation-list
	background $lightGradient
	box-shadow 0 1px 1px rgba(127,127,127,.3)
	
	&__list
		float left
		position relative
		
	
			
		
		
			
			
			
			
		a
			color #676767
			
			font-family 'PT Sans Caption Bold'
			display block
			padding 15px 25px
			border-right 1px solid #d0cfcf
			
			&:hover
				background $orangeGradient
				color #fff
				+ span
					color #fff
				
		
				
			
		span
			position absolute
			top 10px
			right 10px
			font-size 10px
			color #999
			font-family 'PT Sans Caption'
			
			 
	&__setting
		float right
		vertical-align middle
		display block
		color #676767
		font-family 'PT Sans Caption Bold'
		display block
		padding 15px 25px
		background url(../img/27.png) no-repeat
		background-position 0 17px
		&:hover			 
			opacity 0.8
			background-image url(../img/61.png)
			background-repeat no-repeat
			
			
			
.b-section-wrapper
	width 100%
	max-width 1000px
									
.b-user-wall
	width 49%
	float left
	position relative
	background #fff
	margin-bottom 10px
	border 1px solid #d8d8d8
	box-sizing border-box
	border-bottom-width 2px

	
	
	
	&-header
		padding 10px
		
		
		&__image 
			float left
			margin 0 15px 0 0
			img
				
				max-height 40px !important
				
			
				
		&__title 
			color #333
			font-family 'PT Sans Caption Bold'
			
			margin 5px 0 0 0
		&__date
			font-size 12px
			color #999
			font-family 'PT Sans Caption'
			margin 5px 0 0 0
		&__vision
			color #999
			font-family 'PT Sans Caption Bold'	
			font-size 10px
			position absolute
			right 15px
			top 15px
			
			span
				padding 0 5px
	&-image
		img
			width 100%
			max-width 550px
			overflow hidden
	&-footer
		padding 10px
		&__image
			float left
			margin-right 15px
		&__title
			color #e16549
			font-family 'PT Sans Caption Bold'
			margin-bottom 5px
			font-size 14px
		&__number
			font-size 12px
			color #999
			font-family 'PT Sans Caption'
		&__btn
			margin 10px 0 0 0
			position relative
			.btn
				border 1px solid #d5d5d5
				background-image: linear-gradient(top, #fff 0%, #f2f1f1 100%)
				display inline-block
			
			.b-user-wall-footer-list
				display inline-block	
				
				
			.about-btn
				width 176px
				color #999
				font-family 'PT Sans Caption'
				font-size 0.9em
				height 32px
				vertical-align middle
				text-align center
				line-height 32px
				margin-right 100px
				
				&:hover {
					background $orangeGradient
					color #fff
				}
			.share-btn
				width 32px
				height 32px
				background url(../img/29.png) no-repeat
				background-position 50% 50%
				text-indent -9999px
				vertical-align middle
				
				
				
				
			.btn-minus
				width 32px
				height 32px
				background url(../img/24.png) no-repeat
				background-position 50% 50%
				text-indent -9999px
				margin-left 58px
				cursor pointer
			.btn-plus
				width 32px
				height 32px
				background url(../img/25.png) no-repeat
				background-position 50% 50%
				text-indent -9999px
				cursor pointer
				margin-right 7px
			.likes
				color #676767
				font-size 15px
				font-family 'PT Sans Caption Bold'
				
.b-user-wall-footer-list
	position relative				
.b-user-wall-footer-dropdown
	display none
	position absolute
	left 0
	top 100%
	padding 10px 8px 8px 8px
	z-index 1000
	width 112px
	height 147px
	border 1px solid #dbdbdb
	background-color #feffff;
	overflow hidden
	
	li
		padding-top 1px
		a
			display block
			background url(../img/social.png) no-repeat
			width 20px
			height 20px
			margin 5px 5px
			padding-left 30px
			
			vertical-align middle
			color #999
			font-size 12px
			font-family 'PT Sans Caption'
			white-space nowrap
			
	li:nth-child(1)
		a
			background-position 0 0
	li:nth-child(2)
		a
			background-position 0 -26px
	li:nth-child(3)
		a
			background-position 0 -52px	
	li:nth-child(4)
		a
			background-position 0 -78px	
	li:nth-child(5)
		a
			background-position 0 -104px								
					
.b-user-media
	width 40%
	float right
	&-video-top
		background $lightGradient
		box-shadow: 0 1px 1px rgba(127,127,127,.3)
		position relative
		padding 10px
		&__title
			color #999
			font-family 'PT Sans Caption'
			
			
		&__btn
			position absolute
			right 10px
			top 8px
			.btn-all
				color $baseFontColor
				font 12px $baseFontFamily
				button-default()
				&:hover
					background $orangeGradient
					color #fff
			
			
.b-user-media-video-gallery
	background #fff
	&__list
		float left
		width 113px
		margin 9px
		
		img
			border: 1px solid rgba(127,127,127,.3)
			padding 2%	
			background #fff
			max-width 113px
			overflow hidden
.b-user-media__music, .b-user-media__video, .b-user-media__photo
	margin-bottom 10px
				
				
	

/*
===========================
Topic
===========================
*/

.b-topic-navigation-create
	display none
	position absolute
	top 100%
	left 0
	z-index 1000
	width 100px
	background #fff
	overflow hidden
	&__list
		span 
			display inline-block
			vertical-align middle
		a
			display inline-block
			width 22px
			height 24px
			background url(../img/13.png) no-repeat
			vertical-align middle
			padding-left 30px
		&:nth-child(1)
			a
				background-position 0 0
		&:nth-child(2)
			a
				background-position 0 -31px
		&:nth-child(3)
			a
				background-position 0 -61px
		&:nth-child(4)
			a
				background-position 0 -84px	
		&:nth-child(5)
			a
				background-position 0 -121px
		&:nth-child(6)
			a
				background-position 0 -153px
		&:nth-child(7)
			a
				background-position 0 -184px
.b-topic-navigation__create
	padding 4px
	float left
	height 32px
	display inline-block
	position relative
	
	
	
	
	
	a.b-topic-navigation__item
		color #676767
		font-size 15px
		font-family 'PT Sans Caption'
		width 120px
		height 32px
		border 1px solid #dbdbdb
		display block
		text-align center
		line-height 32px
		border-radius 5px
		
		
		
		
	&:before
		display inline-block
		content ''
		background url(../img/31.png) no-repeat
		width 12px
		height 12px
		vertical-align middle
		margin-right 5px
		position absolute
		top 15px
		left 10px
		
		
	&:after
		display inline-block
		content ''
		background url(../img/40.png) no-repeat
		width 9px
		height 5px
		vertical-align middle
		margin-right 5px
		position absolute
		right 6px
		top 20px
.b-topic-navigation__inner
	background #fff
	height 42px
	box-shadow 0 1px 5px rgba(0,1,0,.3)
.b-topic-navigation__create
	position relative	
.b-topic-navigation-create-dropdown
	width 165px
	height 260px
	border-bottom 4px solid #676767;
	a
		color #676767
		font-family 'PT Sans Caption'	
		font-size 15px
		
		&:hover
			opacity 0.5
		
	li
		padding 5px 0 5px 15px
		white-space nowrap
		&:first-child
			a
				margin 20px 0 0 0
.b-topic-navigation-icons-dropdown
	width 166px
	height 250px
	li
		padding 5px 0 5px 15px
		&:first-child
			a
				margin 20px 0 0 0
	
		
			
	
		
		
				
.b-topic-navigation
	margin-bottom 13px
	.b-topic-navigation__create
		position relative
	.b-topic-navigation__middle
		float left
		width 20%
		margin-left 30%
		
		padding 10px
		ul.b-topic-navigation-icons-list
			display none
			position absolute
			top 100%
			left 15px
			z-index 1000			
			width 166px
			height 260px
			background #fff
			border-bottom 4px solid #676767;;
			.b-topic-navigation-icons-list__list
				//
				a
					display inline-block
					padding-left 30px
					vertical-align middle					
					color #676767
					font-size 15px
					font-family 'PT Sans Caption'
					padding-top 5px
					&:hover
						opacity 0.5
						
		.b-topic-navigation-item__item
			float left
			padding-left 16px
			position relative
			img
				vertical-align middle
			span
				position absolute
				top 0
				color #e16549
				font-family 'PT Sans Caption Bold'
				font-size 10px
				
		.icon-image
			display inline-block
			border 1px solid #dbdbdb
			text-align center
			width 34px
			height 19px
			border-radius 3px

.b-topic-navigation-icons-list__list
	//
	a
		display block
		width 23px
		height 26px
		background url(../img/36.png) no-repeat
	&:nth-child(1)	
		a
			background-position 0 0
	&:nth-child(2)	
		a
			background-position 0 -36px		
	&:nth-child(3)	
		a
			background-position 0 -70px
	&:nth-child(4)	
		a
			background-position 0 -102px
	&:nth-child(5)	
		a
			background-position 0 -135px
	&:nth-child(6)	
		a
			background-position 0 -166px

.topic-preview-text
    margin 15px 25px 10px
    color #3f4242
    font 15px $baseFontFamily
    line-height 23px
    word-wrap break-word

.topic-description 
    color #3f4242
	
.b-topic-navigation__middle > ul li img
	//
	&:hover
		opacity 0.5
	
	
	
.b-topic-navigation__right
	float right
	width 22%
	display inline-block
	padding 2px 0 0 0
	
	
	

.b-topic-navigation-format-dropdown
	display none
	position absolute
	background #fff	
	top 30px
	left 0
	z-index 1000
	padding 8px 8px
	width 36px
	height 92px
	text-align center
	border-bottom 4px solid #676767
	li
		padding 5px 0
		&:first-child
			a
				margin 20px 0 0 0
	span
		color #999
		font-family 'PT Sans Caption'
	a
		&:hover
			opacity 0.5	
	
.b-topic-navigation-format__list
	display inline-block
	
	position relative
	padding 5px
	span
		color #e16549
		font-size 7px
		font-family 'PT Sans Caption Bold'
		position absolute
	
		
		
	.buttons-wrapper
		width 139px
		border-radius 3px
		border 1px solid #DBDBDB
		height 28px
		position relative
		margin-left 54px
	.format-type		
		display inline-block		
		border 0
		width 111px
		height 25px
		
		
	.format-submit
		width 22px
		height 28px
		border 0
		background url(../img/43.png) no-repeat
		background-position 50% 50%
		text-indent 9999px
		background-color #e16549
		display inline-block		
		border-top-right-radius 3px
		border-bot-right-radius 3px
		cursor pointer
		position absolute
		right 0
		
	
		
		
		
.b-topic-navigation-online-dropdown
	display none
	position absolute
	background #fff
	width 199px
	height 333px
	top 100%
	left 0
	z-index 1000
	padding 10px 5px
	vertical-align middle
	border-bottom 4px solid #676767
	
	span
		
		font-family 'PT Sans Caption'
		font-size 12px
		color #676767
		padding-left 30px
		vertical-align middle
	a
		display block
		padding-bottom 8px
		&:first-child
			a
				margin 20px 0 0 0
		&:hover
			opacity 0.5
		
	li
		padding 8px 0 15px 8px
		
			
		

.b-user-wall__topic
	float right
	
a.format-icon
	//
	img
		vertical-align middle
			


/*
================================
================================
Form Style
================================
================================
*/


.b-topic-create-modal
	max-width 900px
	margin 0 auto

#simplemodal-container a.modalCloseImg
	background url(../img/51.png) no-repeat
	width 25px
	height 29px
	display inline-block
	z-index 3200
	position absolute
	top 15px
	right 20px
	
	cursor pointer	
	&:hover
		background url(../img/50.png) no-repeat
#simplemodal-container 
	
	background #e5e5e5
	margin 50px 0 0 0
	
.b-topic-create-modal__title
	background-image $lightGradient
	margin 10px 10px 0
	padding 10px
	position relative
	font 16px 'PT Sans Caption Bold'
	box-shadow 0 1px 1px rgba(127,127,127,.3)
	color #999
	button.btn-close
		position absolute
		right 20px
		top 17px
		background url(../img/51.png) no-repeat
		display block
		width 10px
		height 10px
		border none
		cursor pointer
		&:hover
			background url(../img/50.png) no-repeat
.b-topic-create-modal__content
	padding 10px
	background #fff
	margin 0 10px
	
.b-topic-create-modal-content__item
	margin-bottom 15px
	input.add-name
		width 705px
		height 40px
		display inline-block
		padding-left 25px
	.input-default
		border-radius 3px
		border 1px solid rgba(169,169,169,.4)
		color #999
		font-size 14px
		font-family 'PT Sans Caption'
		
	a.draft
		font-size 14px
		color #999
		text-decoration underline
		font-family 'PT Sans Caption Bold'
		margin-left 10px
	select.choose-blog
		width 557px
		height 40px
		display inline-block
		padding-left 20px
	.change-skin
		width 81px
		height 32px
		display inline-block
		background-image linear-gradient(top, #fff 0%, #f2f1f1 100%)
		line-height 32px
		text-align center
		&:hover
			background url('../img/18.png') repeat-x
			color #fff
			border-bottom 2px solid #b43b1f
	.textarea-topic
		width 843px
		height 322px
	input.tags
		width 260px
		height 32px
		display inline-block
		padding-left 20px
	.add-gallery-btn
		width 152px
		height 32px
		display inline-block
		background-image linear-gradient(top, #fff 0%, #f2f1f1 100%)
		margin-left 250px
		text-align center
		line-height 32px
		
		&:hover
			background url('../img/18.png') repeat-x
			color #fff
			border-bottom 2px solid #b43b1f
	.add-music-btn
		width 152px
		height 32px
		display inline-block
		background-image linear-gradient(top, #fff 0%, #f2f1f1 100%)
		line-height 32px
		text-align center
		&:hover
			background url('../img/18.png') repeat-x
			color #fff
			border-bottom 2px solid #b43b1f
	.btn-cancel
		width 73px
		height 32px
		border-radius 0
		background-image linear-gradient(top, #fff 0%, #f2f1f1 100%)
		margin-right 10px
		&:hover
			background url('../img/18.png') repeat-x
			color #fff
			border-bottom 2px solid #b43b1f
		
	.btn-preview
		width 126px
		height 32px
		border-radius 0
		background-image linear-gradient(top, #fff 0%, #f2f1f1 100%)
		
		&:hover
			background url('../img/18.png') repeat-x
			color #fff
			border-bottom 2px solid #b43b1f
	.btn-submit
		width 120px
		height 32px
		border-radius 0
		background-image linear-gradient(top, #fff 0%, #f2f1f1 100%)
		&:hover
			background url('../img/18.png') repeat-x
			color #fff
			border-bottom 2px solid #b43b1f
	.b-topic-create-modal-content__btns
		display inline-block
		margin-left 260px
		
		
		
		
	.change-skin-title 
		font-size 14px
		color #999		
		font-family 'PT Sans Caption'
		margin-right 10px
		display inline-block
		
.b-topic-create-gallery
	height 700px
	&__title
		background-image $lightGradient		
		padding 10px
		position relative
		font 16px 'PT Sans Caption Bold'
		box-shadow 0 1px 1px rgba(127,127,127,.3)
		color #676767
	&-content
		margin 10px 10px 0
		padding 10px
		&-btns
			float right
		&__item
			color #999
			font-size 12px
			font-family 'PT Sans Caption'
			margin-bottom 10px
			.input-default
				border-radius 3px
				border 1px solid rgba(169,169,169,.4)
				color #999
				font-size 14px
				font-family 'PT Sans Caption'
			input.search-by-name
				width 220px
				display inline-block
				height 28px
			input.btn-search
				width 35px
				height 28px
				display inline-block
				background url('../img/53.png') no-repeat
				background-position 50% 50%
				background-color #c4573d
				color transparent
				cursor pointer
			input.btn-cancel
				width 35px
				height 28px
				display inline-block
				background-position 50% 50%
				color transparent
				background url('../img/51.png') no-repeat
				background-position 50% 50%
				background-color #f2f1f1
				cursor pointer
			.sort-select
				width 220px
				height 28px
				margin-left 120px
			.gallery-wrapper
				height 500px
				overflow-y scroll
			input[value="отмена"]
				width 73px
				height 32px
				background $lightGradient
				display inline-block
				&:hover
					background url('../img/18.png') repeat-x
					color #fff
					border-bottom 2px solid #b43b1f
			input[value="добавить"]
				width 106px
				height 32px
				background $lightGradient
				display inline-block
				&:hover
					background url('../img/18.png') repeat-x
					color #fff
					border-bottom 2px solid #b43b1f	
			
.b-topic-create-gallery-content-table
	
	
	
	
	.skin
		vertical-align middle
		width 75px
		display inline-block
			
	.access
		width 50px
		display inline-block
		margin-left 100px
	.photo-name
		display inline-block
		width 370px	
		margin-left 10px
	&__title
		height 15px
		border 1px solid rgba(169,169,169,.4)
		line-height 15px
		padding 5px 10px
		background $lightGradient
		
	&__item
		height 75px
		border 1px solid rgba(169,169,169,.4)
		padding 5px 10px
		background $lightGradient
		&:nth-child(even)
			background #fff
		
		

.b-topic-create-music
	height 700px
	&__title
		background-image $lightGradient		
		padding 10px
		position relative
		font 16px 'PT Sans Caption Bold'
		box-shadow 0 1px 1px rgba(127,127,127,.3)
		color #676767
	&-content
		margin 10px 10px 0
		padding 10px
		&-btns
			float right
		&__item
			color #999
			font-size 12px
			font-family 'PT Sans Caption'
			margin-bottom 10px
			.input-default
				border-radius 3px
				border 1px solid rgba(169,169,169,.4)
				color #999
				font-size 14px
				font-family 'PT Sans Caption'
			input.search-by-name
				width 220px
				display inline-block
				height 28px
				
			input.btn-search
				width 35px
				height 28px
				display inline-block
				background url('../img/53.png') no-repeat
				background-position 50% 50%
				background-color #c4573d
				color transparent
				cursor pointer
			input.btn-cancel
				width 35px
				height 28px
				display inline-block
				background-position 50% 50%
				color transparent
				background url('../img/51.png') no-repeat
				background-position 50% 50%
				background-color #f2f1f1
				cursor pointer
			.sort-select
				width 220px
				height 28px
				margin-left 110px
				
			.music-wrapper
				height 500px
				overflow-y scroll
			input[value="отмена"]
				width 73px
				height 32px
				background $lightGradient
				display inline-block
				&:hover
					background url('../img/18.png') repeat-x
					color #fff
					border-bottom 2px solid #b43b1f
			input[value="добавить"]
				width 106px
				height 32px
				background $lightGradient
				display inline-block
				&:hover
					background url('../img/18.png') repeat-x
					color #fff
					border-bottom 2px solid #b43b1f	
			
.b-topic-create-music-content-table
	//	
	
	
	
	.skin
		vertical-align middle
		width 75px
		display inline-block
			
	.access
		width 50px
		display inline-block
		margin-left 100px
	.photo-name
		display inline-block
		width 370px	
		margin-left 10px
	&__title
		height 15px
		border 1px solid rgba(169,169,169,.4)
		line-height 15px
		padding 5px 10px
		background $lightGradient
		
	&__item
		height 75px
		border 1px solid rgba(169,169,169,.4)
		padding 5px 10px
		background $lightGradient
		&:nth-child(even)
			background #fff
			
.b-topic-create-skin
	width 403px
	height 253px
	background #fff
	&__title		
		background-image $lightGradient
		padding 10px
		position relative
		font 16px 'PT Sans Caption Bold'
		box-shadow 0 1px 1px rgba(127,127,127,.3)
		color #676767
	
	
	
.b-topic-create-skin-content
	//
	.input-default
		border-radius 3px
		border 1px solid rgba(169,169,169,.4)
		color #999
		font-size 12px
		font-family 'PT Sans Caption'	
	&__item
		
		color #999
		font-size 12px
		font-family 'PT Sans Caption'
		padding 10px
	&-wrapper
		border 1px solid rgba(169,169,169,.4)
		margin 10px 10px
	input[value="Выбрать файл"]
		width 107px
		
		display inline-block
		overflow hidden
		
		
		color transparent
	.label-pc
		
		width 220px
		height 28px
		display inline-block
		padding-left 15px
		line-height 28px
		background #fff
		
		
	
		
		
	
	.label-it
			
		width 220px
		height 28px
		display inline-block
		padding-left 15px
		line-height 28px
		background #fff
		
	.link-it
		width 107px
		height 28px
		background $lightGradient
		display inline-block
		text-align center
		line-height 28px
		color #999
		margin-left 5px
		
	&-buttons
		
		float right
		input[value="Отмена"]
			width 73px
			height 32px
			background $lightGradient
			display inline-block
			border 1px solid rgba(169,169,169,.4)
			color #999
			font-size 14px
			font-family 'PT Sans Caption'
			&:hover
				background url('../img/18.png') repeat-x
				color #fff
				border-bottom 2px solid #b43b1f
		input[value="Добавить"]
			width 106px
			height 32px
			background $lightGradient
			display inline-block
			border 1px solid rgba(169,169,169,.4)
			color #999
			font-size 14px
			font-family 'PT Sans Caption'
			&:hover
				background url('../img/18.png') repeat-x
				color #fff
				border-bottom 2px solid #b43b1f
				

/*
====================================
====================================
Form blog Style
====================================
====================================

*/


.b-blog-create-modal__title
	background-image $lightGradient
	margin 10px 10px 0
	padding 10px
	position relative
	font 16px 'PT Sans Caption Bold'
	box-shadow 0 1px 1px rgba(127,127,127,.3)
	color #676767
	.btn-close
		position absolute
		right 20px
		top 17px
		background url(../img/51.png) no-repeat
		display block
		width 10px
		height 10px
		border none
		&:hover
			background url(../img/50.png) no-repeat
.b-blog-create-modal__content
	padding 30px
	background #fff
	margin 0 10px
	
.b-blog-create-modal-content__item
	margin-bottom 10px
	
	.input-default
		border-radius 3px
		border 1px solid rgba(169,169,169,.4)
		color #999
		font-size 14px
		font-family 'PT Sans Caption'
		
	.select-blog
		display inline-block
		width 207px
		height 40px
		padding-left 20px
	.name-blog
		width 705px
		height 40px
		padding-left 22px
	.change-skin-title
		font-family 'PT Sans Caption'
		font-size 14px
		color #999
		margin-left 10px
	a.change-skin
		width 80px
		height 32px
		display inline-block
		text-align center
		line-height 32px
		background $lightGradient
		margin-left 10px
		&:hover
			background url('../img/18.png') repeat-x
			color #fff
			border-bottom 2px solid #b43b1f
	.textarea-blog
		width 857px
		height 212px
		padding 5px
		border 1px solid rgba(169,169,169,.4)
	.input-tag
		width 260px
		height 40px
		padding-left 20px
		
	.button-group
		float right
		margin-right 50px
	.btn-cancel
		width 73px
		height 40px
		background $lightGradient
		margin-right 15px
		&:hover
			background url('../img/18.png') repeat-x
			color #fff
			border-bottom 2px solid #b43b1f
	.btn-submit
		width 121px
		height 40px
		background $lightGradient
		&:hover
			background url('../img/18.png') repeat-x
			color #fff
			border-bottom 2px solid #b43b1f


// .jq-selectbox .jq-selectbox__trigger-arrow
// 	background url(../img/54.png) no-repeat
// 	background-position 50% 50%
// 	width 6px
// 	height 12px
// 	display block
// 	border none



/*
=============================================
=============================================
about profile Style
=============================================
=============================================
*/

.b-profile-about
	//
	&__title
		padding-top 20px
	&__profile
		padding-top 20px
	&__text
		padding-top 22px
		padding-bottom 54px
		word-wrap break-word
	&__topics
		padding-bottom 64px
	&__gallery
		padding-bottom 40px
	&__tags
		padding-bottom 58px
.b-profile-about-title
	//
	&__right
		float right
		display inline-block
		margin 5px 0 0 0	
		
		.date
			color #999
			font 12px 'PT Sans Caption'
			margin-right 5px
		input.button-default
			button-default()
			&:hover
				background $orangeGradient
				color #fff
		.btn-edit
			
			display inline-block
			font 10px $baseFontFamilyBold			
			color $baseFontColor
		.btn-delete			
			font 10px $baseFontFamilyBold			
			color $baseFontColor
			margin-right 5px
		.count
			font 11px $baseFontFamilyBold
			color $baseFontColor
			margin 0 5px
	&__title
		display inline-block
		font 22px 'PT Sans Caption Bold'
		color #676767
		
		
		
		
		
.b-profile-about-profile
	position relative
	&__buttons
		margin 10px 0 0 0
	&__image
		float left
		margin-right 10px
	.author
		position absolute
		top -15px
		color $baseFontColor
		font 11px $baseFontFamily
	&__name
		font 14px $baseFontFamily
		color $baseFontColorLight
	.input-default
		button-default()
		color $baseFontColor
		font 10px $baseFontFamilyBold
		
		&:hover
			background $orangeGradient
			color #fff
	.rating-text
		font 10px $baseFontFamily
		color $baseFontColor
		margin-left 5px
	.rating-num
		color #25ad85
		font 10px $baseFontFamilyBold	
		margin-left 5px
		
.b-profile-about-text
	//
	&__image
		float left
		width 50%
		margin 0 25px 25px 0
		max-width 100%
		overflow hidden
	&__text
		color #3e4142
		font 15px $baseFontFamily
		

.b-profile-about-text + p
	color #3e4142
	font 15px $baseFontFamily
	line-height 23px
	
		
p.b-profile-about-gallery__title
	background $lightGradient
	position relative
	font 16px $baseFontFamily
	color $baseFontColor
	height 35px
	line-height 35px
	margin-bottom 15px
	box-shadow $baseBoxShadow
	padding-left 10px
	
	.input-default
		button-default()
		position absolute
		right 10px
		top 10px
		color $baseFontColor
		font 12px $baseFontFamily
		&:hover
			background $orangeGradient
			color #fff
.b-profile-about__gallery
	//
	.button-default
		button-default()
		font 12px $baseFontFamily
		color $baseFontColor
		float right
		&:hover
			background $orangeGradient
			color #fff
.b-profile-about-gallery-list
	//
	
	&__list
		float left
		margin-right 5px
		margin-bottom 10px
		&:last-child
			margin-right 0
	&__image
		width 173px
		height 165px
		border 1px solid #d5d5d5
		padding 2px
		img
			width 172px
			height 165px
			overflow hidden
			
		
		
		
		
.b-profile-about	
	background #fff	
	&__inner
		margin 0 40px
		

.b-profile-about-player-list
	//
	&__button
		float right
		
		.button-default
			button-default()
			font 12px $baseFontFamily
			color $baseFontColor
			&:hover
				background $orangeGradient
				color #fff

	&__list
		
		width 450px
		display inline-block
		
	&__item
		margin 15px 0
		
		&:first-child
			.b-profile-about-player-list__wrapper
				//	
				&:active 
					background #b7b7b5
					opacity 0.5
				
	
		
		
			
		#play
			background url(../img/57.png) no-repeat
			width 11px
			height 11px
			background-position 50% 50%
			border 0
			outline none
			
		.stop
			background url(../img/58.png) no-repeat
			width 11px
			height 11px
			background-position 50% 50%
			border 0
			outline none
		span.song-name
			color $baseFontColor
			font 14px $baseFontFamily
			
.b-profile-about-player
	//
	&__title
		background $lightGradient
		height 35px
		color $baseFontColor
		font 16px $baseFontFamily
		line-height 35px
		position relative
		padding-left 10px
		.input-default
			button-default()
			position absolute
			right 10px
			top 10px
			color $baseFontColor
			font 12px $baseFontFamily
			&:hover
				background $orangeGradient
				color #fff

.b-profile-about-topics-list
	//
	&__list
		float left
		width 173px
		height 175px
		border $baseBorder
		margin-right 9px
		img
			overflow hidden
			width 170px
			
	&__text
		color #3e4142
		font 10px $baseFontFamilyBold
		margin 5px 10px
	
		
		
p.b-profile-about-topics__title
	background $lightGradient
	color $baseFontColor
	font 16px $baseFontFamily
	margin-bottom 10px
	height 35px
	line-height 35px
	padding-left 10px		
			



.b-profile-about-tags
	//
	padding-bottom 10px
	&__title
		background $lightGradient
		height 50px
		font 14px $baseFontFamily
		color $baseFontColor
		line-height 50px
		padding-left 10px
		
		

.b-profile-about-tags-user
	position relative
	margin 20px 0 0 0
	&__right
		float right
		input.btn
			button-default()
			height 32px
			width 32px
			color transparent
			
		input.btn-minus
			background url(../img/24.png) no-repeat
			background-position 50% 50%
		input.btn-plus
			background url(../img/25.png) no-repeat
			background-position 50% 50%
		.likes
			font 15px $baseFontFamilyBold
			color $baseFontColor
			
		
		
	&__left
		float left
	&__image
		float left
		padding-right 10px
	&__name
		position absolute
		top -12px
		color $baseFontColor
		font 10px $baseFontFamily
	&__title
		color $orangeFontColor
		font 14px $baseFontFamilyBold
		padding-bottom 8px
	&__buttons
		width 500px
		.btn-default
			button-default()
			font 12px $baseFontFamilyBold
			color $baseFontColor
			
			&:hover
				background $orangeFontColor
				color #fff
		.count-topic, .count-followers
			color $baseFontColor
			font 12px $baseFontFamily
		.btn-follow, .count-topic
			margin-right 5px
ul.b-profile-about-tags-user-list-dropdown	
	dropdown()	
	padding 10px 8px 8px 8px
	z-index 1000
	width 112px
	height 157px
	border 1px solid #dbdbdb
	background-color #feffff
	
	a
		color $baseFontColor
		font 12px $baseFontFamily
	
ul.b-profile-about-tags-user-list
	display inline-block
	text-align center	
	button-default()
	margin-right 20px
	
	li
		//
		a
			display inline-block
			background url(../img/29.png) no-repeat
			background-position 50% 50%
			width 32px
			height 32px
			vertical-align middle
			
	
	
			
			
			
	.b-profile-about-tags-user-list-dropdown
		li
			padding-top 1px
			a
				display block
				background url(../img/social.png) no-repeat
				width 20px
				height 20px
				margin 5px 5px
				padding-left 30px			
				vertical-align middle			
				white-space nowrap
				
		li:nth-child(1)
			a
				background-position 0 0
		li:nth-child(2)
			a
				background-position 0 -26px
		li:nth-child(3)
			a
				background-position 0 -52px	
		li:nth-child(4)
			a
				background-position 0 -78px	
		li:nth-child(5)
			a
				background-position 0 -104px	
		

.b-profile-about-form
	//
	&__image
		float left
		padding-right 10px
	&__title
		color $baseFontColorLight
		font 14px $baseFontFamily
		line-height 40px
	&__inner
		background $lightGradient
		box-shadow $baseBoxShadow
		width 450px
	&-list
		//
		&__list
			float left
			button-default()
			padding 8px
			margin-right 3px
			
			a
				display block
				width 25px
				height 24px
				background url(../img/60.png) no-repeat
				
		
			&:nth-child(1)
				a
					background-position 0 0
					&:hover
						background-position -236px 0
			&:nth-child(2)
				a
					background-position -35px 0
					&:hover
						background-position -197px 0			
			&:nth-child(3)
				a
					background-position -73px 0
					&:hover
						background-position -160px 0	
			&:nth-child(4)
				a
					background-position -113px 0
					&:hover
						background-position -270px 0					
	.b-profile-about-form__item
		padding-bottom 15px
		
		.add-comment
			width 434px
			color $baseFontColor
			font 14px $baseFontFamily
			padding-left 10px
			height 90px
		.default-button
			button-default()
			color $baseFontColor
			font 14px $baseFontFamily
			
		.cancel-button
			width 73px
			height 32px
			margin-left 250px
			&:hover
				background $orangeFontColor
				color #fff
				border-bottom 2px solid #b43b1f
		.submit-button
			width 121px
			height 33px
			&:hover
				background $orangeGradient
				color #fff
				border-bottom 2px solid #b43b1f
				

.b-profile-about-message_margin
	margin-left 50px
.b-profile-about-message
	//
	&__image
		float left
		width 60px
	&__message
		float left
		width 490px
.b-profile-about-message-top
	padding-bottom 5px
	&__user
		float left
		font 14px $baseFontFamily
		color #e16549
	&__date
		float right
		font 12px $baseFontFamily
		color $baseFontColor
		span
			padding 0 5px
.b-profile-about-message-text
	//
	&__text
		color #3e4142
		font 14px $baseFontFamily
.b-profile-about-message-button
	padding 20px 0
	&__answer, &__delete, &__minus, &__plus, &__raiting
		display inline-block
		
	&__minus
		margin-left 150px
	.button-submit
		button-default()
		color $baseFontColor
		font 12px $baseFontFamily
		cursor pointer
		padding 5px 10px
.b-profile-about-message-button__minus
	//
	.button-small
		button-default()
		background url(../img/24.png) no-repeat
		background-position 50% 50%
		width 32px
		height 32px
		text-indent -9999px
		background-color $lightGradient
		
.b-profile-about-message-button__plus
	//
	.button-small
		button-default()
		background url(../img/25.png) no-repeat
		background-position 50% 50%
		width 32px
		height 32px
		text-indent -9999px
		background-color $lightGradient		
	
p.b-profile-about-message-button__raiting
	color #26ad85
	font 15px $baseFontFamilyBold
/*
===========================
===========================
interface
===========================
===========================
*/

.b-user-interface
	background-color #fff
	&__header
		
		background $lightGradient
		position relative
		box-shadow $baseBoxShadow
		height 45px
		margin-bottom 20px
		.input-default
			width 10px
			height 10px
			background url(../img/51.png) no-repeat
			background-position 50% 50%
			display inline-block
			border 0
			position absolute
			right 10px
			top 17px
			cursor pointer
			color transparent
			&:hover
				background url(../img/50.png) no-repeat
				background-position 50% 50%
		p.title-header
			color $baseFontColor
			font 16px $baseFontFamilyBold
			padding-left 10px
			line-height 45px
	

.b-user-interface-content
	//
	&__left
		float left
	&-wrapper
		border $baseBorder
		
		
		
	&__right
		float right
		padding-right 10px
	&-nav
		padding-bottom 10px
		
		&__list
			float left
			a
				background $lightGradient
				padding 6px
				color $baseFontColorLight
				font 15px $baseFontFamily
				line-height 30px
				border $baseBorder
				&:hover
					color #fff
					background $orangeGradient
.b-user-interface-content-item
	margin 0 10px
	&__item
		padding-bottom 10px
		.input-default
			width 80px
			height 30px
			
		.select-default
			width 240px
			height 30px
			
			.jq-selectbox__select
				background #fff
				color $baseFontColor
				font 14px $baseFontFamily
				line-height 30px
			.jq-selectbox__trigger
				background $lightGradient
		label
			color $baseFontColor
			font 14px $baseFontFamily
			
			
			
	&__title
		padding-bottom 10px
		font 15px $baseFontFamily
		color $baseFontColorLight	
.b-user-interface-content-search
	//
	&__search
		border $baseBorder
		margin-bottom 10px
	.input-default
		width 540px
		height 30px
		border 0
		padding-left 10px
		color $baseFontColor
		font 15px $baseFontFamily
	.button-default
		width 35px
		height 32px
		border 0
		color transparent
		float right
		background-image url(../img/64.png)
		background-repeat no-repeat
		background-color #f2f1f1
		background-position 50% 50%
		cursor pointer
		
.b-user-interface-content-profile
	
	margin 10px 0 0 0
	border $baseBorder
	padding 10px
	&__image
		float left
		margin-right 10px
	&__name
		font 14px $baseFontFamily
		color $baseFontColorLight
	&__desc
		font 12	px $baseFontFamily
		color $baseFontColor
	&__buttons
		float right
		margin -35px 20px 0 0
		.button-default
			button-default()
			color $baseFontColor
			font 15px $baseFontFamily
			padding 5px
			cursor pointer
			&:hover
				background $orangeGradient
				color #fff
		
	
.b-user-interface-content-sort
	margin 0 10px
	&__title
		padding-bottom 10px
		font 15px $baseFontFamily
		color $baseFontColorLight
	&-list
		//
		&__list
			padding-bottom 10px
			a
				font 14px $baseFontFamily
				color $baseFontColor
.b-user-interface-content-filter
	margin 0 10px	
	&__title 
		padding-bottom 10px
		font 15px $baseFontFamily
		color $baseFontColorLight
	&-list
		//
		&__list
			padding-bottom 10px
			a
				font 14px $baseFontFamily
				color $baseFontColor
		
.tab-content
	display none
.tab-content.current
	display inherit
	
.b-user-interface-content-block
	margin 10px 0 0 0
	border $baseBorder
	padding 10px
	&__image
		
		float left
		margin-right 10px
		img
			max-height 82px
			max-width 124px
	&__text
		float left
	&__detail
		float right
.b-user-interface-content-block-text
	//
	&__title
		font 14px $baseFontFamily
		color $baseFontColorLight
	&__date, &__name, &__desc
		font 12px $baseFontFamily
		color $baseFontColor
.b-user-interface-content-block-detail
	//
	&__vision
		padding-bottom 10px
		span
			font 11px $baseFontFamilyBold
			color $baseFontColor
			padding 0 5px
	&__raiting
		padding-bottom 10px
		span
			font 18px $baseFontFamilyBold
			color #26ad85
	&__buttons
		//
		.button-default
			button-default()
			color $baseFontColor
			font 15px $baseFontFamily
			padding 5px
			cursor pointer
			&:hover
				background $orangeGradient
				color #fff
	

/*
==============================
=============================
blog style
=============================
===============================
*/



.b-user-blog
	width 49%
	float left
	position relative
	background #fff
	margin-bottom 10px
	
	
	
	&-header
		padding 10px		
		
		&__tags
			font 12px $baseFontFamily
			display inline-block
			text-align right
			color $baseFontColor
			margin-left 35px
		
		&__title 
			color #333
			font-family 'PT Sans Caption Bold'
			display inline-block
			margin 5px 0 0 0
		&__date
			font-size 12px
			color #999
			font-family 'PT Sans Caption'
			margin 5px 0 0 0
			display inline-block
		&__vision
			color #999
			font-family 'PT Sans Caption Bold'	
			font-size 10px
			text-align right
			display inline-block
			margin-left 260px
			
			
			
			span
				padding 0 5px
	&-image
		img
			width 100%
			max-width 550px
			overflow hidden
	&-footer
		padding 10px	
		
		
		&__btn
			margin 10px 0 0 0
			position relative
			.btn-follow
				button-default()
				height 32px
				vertical-align middle
				text-align center
				line-height 32px
				width 140px
				color $baseFontColor
				font 0.9em $baseFontFamily
				&:hover
					background $orangeGradient
					color #fff
			.btn
				border 1px solid #d5d5d5
				background-image: linear-gradient(top, #fff 0%, #f2f1f1 100%)
				display inline-block
			
			.b-user-wall-footer-list
				display inline-block	
				
				
			.about-btn
				width 140px
				color #999
				font-family 'PT Sans Caption'
				font-size 0.9em
				height 32px
				vertical-align middle
				text-align center
				line-height 32px
				
				
				&:hover 
					background $orangeGradient
					color #fff
				
			.share-btn
				width 32px
				height 32px
				background url(../img/29.png) no-repeat
				background-position 50% 50%
				text-indent -9999px
				vertical-align middle
				
				
				
				
			.btn-minus
				width 32px
				height 32px
				background url(../img/24.png) no-repeat
				background-position 50% 50%
				text-indent -9999px
				margin-left 36px
				cursor pointer
			.btn-plus
				width 32px
				height 32px
				background url(../img/25.png) no-repeat
				background-position 50% 50%
				text-indent -9999px
				cursor pointer
				margin-right 7px
			.likes
				color #676767
				font-size 15px
				font-family 'PT Sans Caption Bold'
				
.b-user-blog-footer-list
	position relative				
.b-user-blog-footer-dropdown
	display none
	position absolute
	left 0
	top 100%
	padding 10px 8px 8px 8px
	z-index 1000
	width 112px
	height 147px
	border 1px solid #dbdbdb
	background-color #feffff;
	overflow hidden
	
	li
		padding-top 1px
		a
			display block
			background url(../img/social.png) no-repeat
			width 20px
			height 20px
			margin 5px 5px
			padding-left 30px
			
			vertical-align middle
			color #999
			font-size 12px
			font-family 'PT Sans Caption'
			white-space nowrap
			
	li:nth-child(1)
		a
			background-position 0 0
	li:nth-child(2)
		a
			background-position 0 -26px
	li:nth-child(3)
		a
			background-position 0 -52px	
	li:nth-child(4)
		a
			background-position 0 -78px	
	li:nth-child(5)
		a
			background-position 0 -104px
.b-user-blog-right
	float right
	


.b-user-wall
	
	width 495px
	margin 0 auto 10px
	
	
