extends block/layout.jade
block content
	.b-wrapper
		.b-page
			include block/header
			.b-content
				.b-user-interface
					.b-user-interface__inner
						.b-user-interface-tab

						
							ul.b-user-interface-tab-list
								li.b-user-interface-tab-list__list
									a(href="#tab-1-div"  class="active") Люди
								li.b-user-interface-tab-list__list
									a(href="#that-other-tab" ) Контент
								li.b-user-interface-tab-list__list
									a(href="#lastly" ) Группы
								li.b-user-interface-tab-list__list
									a(href="#sometab" ) Медиа
								.clear

							
							
							
							
							
							
							.b-user-interface-tab__item#tab-1-div
								.b-user-interface-tab-item
									p.b-user-interface-tab-item__title Место поиска											
									.b-user-interface-tab-item__search-place
										select.select-default(name="")
												option(value="Страна") Страна
									.b-user-interface-tab-item__search-place
										select.select-default(name="")
											option(value="Город") Город
									.b-user-interface-tab-item__item
										input.input-default(type="text" value="Нет в списке")
							
								.b-user-interface-tab-item
									p.b-user-interface-tab-item__title Учебные заведения
									
										
									.b-user-interface-tab-item__search-place
										select.select-default(name="")
											option(value="Школа") Школа
									.b-user-interface-tab-item__search-place
										select.select-default(name="")
											option(value="Высшее учебное заведение") Высшее учебное заведение
									.b-user-interface-tab-item__search-place
										select.select-default(name="")
											option(value="Работа") Работа
							
								.b-user-interface-tab-item
									p.b-user-interface-tab-item__title Пол
									.b-user-interface-tab-item__gender
										input(type="radio" )
										span Мужской
									.b-user-interface-tab-item__gender
										input(type="radio")
										span Женский
									.b-user-interface-tab-item__gender
										input(type="radio" )
										span Любой
							
								.b-user-interface-tab-item
									p.b-user-interface-tab-item__title Возраст
									.b-user-interface-tab-item__age
										select.select-default(name="")
											option(value="от") от
										select.select-default(name="")
											option(value="от") до	
								.b-user-interface-tab__right
									.b-user-interface-tab__search
										input.input-default(type="text" value="Поиск")
										input.input-default(type="submit" value="Поиск")
									.b-user-interface-tab-item
										img(src="img/20.png", alt="img")
										p.b-user-interface-tab-profile__name Сниткин Иван Петрович
										p.b-user-interface-tab-profile__desc
											span Количество лет,
											span Место проживания,
											span Учебное заведение
									.b-user-interface-tab__buttons								
										input.input-default(type="submit" value="Написать лс")
										input.input-default(type="submit" value="Подписаться")
										input.input-default(type="submit" value="Дружить")
						
						
						
						
							.b-user-inferface-tab__tabf#that-other-tab
								.b-user-interface-tab__right
									.b-user-interface-tab__search
										input.input-default(type="text" value="Поиск")
										input.input-default(type="submit" value="Поиск")
								
								.b-user-interface-tab__left
									.b-user-interface-tab-item
										p.b-user-interface-tab-item__title Место поиска											
										.b-user-interface-tab-item__search-place
											select(name="")
													option(value="") Страна
							

								


							